extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	main
		#fullpage
			.section
				section.home-wellcome
					a.home-logo(href='https://vincity.com/')
						h1
							img(src='https://vincity.com/wp-content/themes/vincity/assets/images/logo-page.png', alt='#')
					ul._menu.hidden-devide-768
						// <li class="current-menu-item"><a href="
						// ">Trang chủ</a></li>
						//
							<li><a href="">Giới thiệu</a></li>
							<li><a href="">Dự án</a></li>
							<li><a href="">Tin tức</a></li>
							<li><a href="">Vay mua nhà</a></li>
							<li><a href="">Liên hệ</a></li>
						li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-947
							a(href='https://vincity.com/gioi-thieu-vincity/') Giới thiệu
						li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-948
							a(href='https://vincity.com/tien-ich-vincity/') Tiện ích
						li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3979
							a(href='https://vincity.com/du-an/') Dự án
						li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-890
							a(href='https://vincity.com/404') Căn hộ mơ ước
						li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-903
							a(href='https://vincity.com/tin-tuc-su-kien/') Tin tức
						li.album_menu.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-962
							a(href='https://vincity.com/thu-vien-anh/') Thư viện
						li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-779
							a(href='https://vincity.com/lien-he/') Liên hệ
					._text
						._inner
							._title
								h2._line1 Đại đô thị
								h2._line2 đẳng cấp Singapore
							._descript.ion
								| Các khu đô thị VinCity thường có quy mô lớn lên đến hàng trăm ha, không xa trung tâm Hà Nội và Tp. HCM, được quy hoạch và phát triển theo mô hình đô thị văn minh, hiện đại của Singapore.
							form._frm-welcome(action='https://vincity.com/tim-kiem/', method='GET')
								.form-group
									input#js-typed-search.js-search.project_title(type='text', name='keywords', placeholder='Tìm kiếm tên dự án…')
									button._submit(type='submit')
										i.fa.fa-search
								ul.frm_suggest-info
							quote._quote VinCity Ocean Park...
					._slider
						#js-wellcome-slider.swiper-container
							.swiper-wrapper
								.swiper-slide
									.image-backstretch(style="background-image: url('https://vincity.com/wp-content/uploads/homepage-screen1-3-879x520.jpg')")
										img.show-devide-768(src='https://vincity.com/wp-content/uploads/homepage-screen1-3-879x520.jpg')
								.swiper-slide
									.image-backstretch(style="background-image: url('https://vincity.com/wp-content/uploads/homepage-screen2-2-825x520.jpg')")
										img.show-devide-768(src='https://vincity.com/wp-content/uploads/homepage-screen2-2-825x520.jpg')
								.swiper-slide
									.image-backstretch(style="background-image: url('https://vincity.com/wp-content/uploads/homepage-screen1-1-879x520.jpg')")
										img.show-devide-768(src='https://vincity.com/wp-content/uploads/homepage-screen1-1-879x520.jpg')
						._controls.hidden-devide-768
							a#js-wellcome-next._next(href='javascript:void();')
								img(src='https://vincity.com/wp-content/themes/vincity/assets/images/home/arrow-down.png', alt='#')
							a#js-wellcome-prev._prev(href='javascript:void();')
								img(src='https://vincity.com/wp-content/themes/vincity/assets/images/home/arrow-down.png', alt='#')
				#typed-strings
					p Đại đô thị
					p  Quy hoạch VinCity
					p  Công viên Gym
					p  Công viên BBQ
					p  Đô thị hạt nhân
					p  Đô thị công viên
					p  VinCity Ocean Park
					p  VinCity Sportia
					p  VinCity Grand Park
					p  VinCity Gia Lâm
					p  VinCity Tây Mỗ
					p  VinCity Quận 9
					p  VinCity Hà Nội
					p  VinCity Tp Hồ Chí Minh
				script(type='text/javascript').
					jQuery(document).ready(function($) {
					/*search vehicle*/
					$('.js-search').keyup(function() {
					event.preventDefault();
					var this_el = $(this);
					var this_val = this_el.val();
					$.ajax({
					url: wp_vars.ADMIN_AJAX_URL,
					type: 'post',
					dataType: 'json',
					data: {
					title: this_val,
					nonce: "22fde32c3c",
					action: "get_projects_title_ajax"
					}
					})
					.done(function(response) {
					if (response.success) {
					$('ul.frm_suggest-info').html(response.data);
					}
					})
					.fail(function() {
					console.log("LOAD DATA ERROR!");
					});
					});
					var _setTimeout;
					var _clearTimeout;
					var _pauseOn;
					_setTimeout = window.setTimeout;
					_clearTimeout = window.clearTimeout;
					window.setTimeout = function(code, delay) {
					return _setTimeout(function() {
					if (_pauseOn == true) {
					return;
					}
					code();
					}, delay);
					};
					window.clearTimeout = function(intervalId) {
					if (_pauseOn == true) {
					return;
					}
					_clearTimeout(intervalId);
					};
					function pauseTimer() {
					_pauseOn = true;
					}
					var typed = new Typed("#js-typed-search", {
					stringsElement: '#typed-strings',
					typeSpeed: 80,
					backSpeed: 50,
					backDelay: 500,
					startDelay: 0,
					loop: true,
					fadeOut: true,
					fadeOutClass: 'typed-fade-out',
					fadeOutDelay: 1000,
					});
					$("#js-typed-search").click(function() {
					pauseTimer();
					$("#js-typed-search").val('');
					});
					});
			.section
				section#js-life_standard.home-product.home-life_standard
					._head
						._text
							h2._lineText1 ĐẠI ĐÔ THỊ
							h2._lineText1
								strong ĐẲNG CẤP SINGAPORE
							h2._lineText1 VÀ HƠN THẾ NỮA
							._lineText2
							._description
								p
									| VinCity là những thành phố văn minh, hiện đại được quy hoạch mô hình đại đô thị đẳng cấp Singapore và hơn thế nữa. Không chỉ sở hữu những tiện ích dịch vụ mang lại cuộc sống lý tưởng cho người dân như ở Singapore, VinCity
									| còn lần đầu kiến tạo những tiện ích độc đáo như công viên thể thao ngoài trời với hàng trăm máy tập cùng công viên BBQ với hàng trăm điểm nướng. Đi kèm giải pháp tài chính linh hoạt, VinCity hứa hẹn là giải pháp đột
									| phá về nhà ở với người dân Việt Nam, đồng thời mở ra cơ hội đầu tư hiệu quả nhờ vị trí giàu tiềm năng và sức tăng trưởng giá trong tương lai.
							.dib.hidden-devide-768
								a._btn(href='https://vincity.com/gioi-thieu-vincity/')
									| Xem thêm 
									i.fa.fa-plus
					._carousel._carousellife_standard
						#js-life_standard-slider.swiper-container
							.swiper-wrapper
								.swiper-slide
									.life_standard-thumb.clearfix(style="background-image: url('https://vincity.com/wp-content/uploads/VCT_PV_36_P16_fr01-min.jpg');")
										img(src='https://vincity.com/wp-content/uploads/VCT_PV_36_P16_fr01-min.jpg', alt='VinCity')
								.swiper-slide
									.life_standard-thumb.clearfix(style="background-image: url('https://vincity.com/wp-content/uploads/VCT_PV_34_P12P15_fr04-min.jpg');")
										img(src='https://vincity.com/wp-content/uploads/VCT_PV_34_P12P15_fr04-min.jpg', alt='VinCity')
							.swiper-scrollbar.hidden-devide-768
					._bottom.clearfix.show-devide-768
						._pagination
			.section
				section#js-frame-intro.home-intro
					._left-bg(style="background-image: url('https://vincity.com/wp-content/themes/vincity/assets/images/home/intro/bg.png')")
					._right
						._content.clearfix
							._title
								h2._lineText1 ĐẠI TIỆN ÍCH & CẢNH QUAN
								h2._lineText2 NÂNG TẦM CHUẨN SỐNG
							._description
								| Nhịp sống tại Vincity luôn chuyển động không ngừng với những đại tiện ích quy mô tầm cỡ, những khuôn viên xanh rộng lớn thỏa mãn mọi nhu cầu Sống - Làm việc - Học tập - Vui chơi. Từ đại công viên BBQ, đại công viên gym ngoài
								| trời, bể bơi, cụm sân tập thể thao đến trường học, bệnh viện hay các TTTM,...được quy hoạch thông minh mang đến phong cách sống Singapore đầy cảm hứng cho cộng đồng cư dân văn minh.
							ul._nav
								li._item
									a.is-active(href='javascript:void(0);', onclick='introSlider.slideTo(0)')
										span._img
											svg(width='50px', height='50px', viewBox='0 0 50 50', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
												// Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch
												title congdong
												desc Created with Sketch.
												defs
												g#Homepage_PC(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', transform='translate(-995.000000, -1194.000000)')
													g#2-copy(transform='translate(0.000000, 730.000000)', fill='#FFFFFF')
														g#infomation(transform='translate(959.000000, 116.000000)')
															g#icontienich(transform='translate(18.000000, 203.000000)')
																g#tienich(transform='translate(0.000000, 145.000000)')
																	g#congdong(transform='translate(18.000000, 0.000000)')
																		g#Page-1
																			path#Fill-1(d='M25.9829798,4.73431818 C25.9829798,4.14214646 25.5014141,3.66058081 24.9092424,3.66058081 C24.3170707,3.66058081 23.8352525,4.14214646 23.8352525,4.73431818 C23.8352525,5.3264899 24.3170707,5.80805556 24.9092424,5.80805556 C25.5014141,5.80805556 25.9829798,5.3264899 25.9829798,4.73431818')
																			path#Fill-3(d='M24.9092424,46.1123485 C25.5014141,46.1123485 25.9829798,45.6307828 25.9829798,45.0386111 C25.9829798,44.4464394 25.5014141,43.9646212 24.9092424,43.9646212 C24.3170707,43.9646212 23.8352525,44.4464394 23.8352525,45.0386111 C23.8352525,45.6307828 24.3170707,46.1123485 24.9092424,46.1123485')
																			path#Fill-5(d='M45.0612121,25.9601263 C45.6533838,25.9601263 46.1349495,25.4785606 46.1349495,24.8863889 C46.1349495,24.2942172 45.6533838,23.8126515 45.0612121,23.8126515 C44.4690404,23.8126515 43.9874747,24.2942172 43.9874747,24.8863889 C43.9874747,25.4785606 44.4690404,25.9601263 45.0612121,25.9601263')
																			path#Fill-7(d='M4.75704545,23.8126768 C4.16487374,23.8126768 3.68330808,24.2942424 3.68330808,24.8864141 C3.68330808,25.4785859 4.16487374,25.9601515 4.75704545,25.9601515 C5.34921717,25.9601515 5.83078283,25.4785859 5.83078283,24.8864141 C5.83078283,24.2942424 5.34921717,23.8126768 4.75704545,23.8126768')
																			path#Fill-9(d='M23.8352778,24.8864141 C23.8352778,25.4785859 24.317096,25.9601515 24.9092677,25.9601515 C25.5014394,25.9601515 25.9830051,25.4785859 25.9830051,24.8864141 C25.9830051,24.2942424 25.5014394,23.8126768 24.9092677,23.8126768 C24.317096,23.8126768 23.8352778,24.2942424 23.8352778,24.8864141')
																			path#Fill-11(d='M22.1585859,23.8126768 C21.5664141,23.8126768 21.0848485,24.2942424 21.0848485,24.8864141 C21.0848485,25.4785859 21.5664141,25.9601515 22.1585859,25.9601515 C22.7507576,25.9601515 23.2323232,25.4785859 23.2323232,24.8864141 C23.2323232,24.2942424 22.7507576,23.8126768 22.1585859,23.8126768')
																			path#Fill-13(d='M27.6130556,25.9601263 C28.2052273,25.9601263 28.6870455,25.4785606 28.6870455,24.8863889 C28.6870455,24.2942172 28.2052273,23.8126515 27.6130556,23.8126515 C27.0208838,23.8126515 26.5393182,24.2942172 26.5393182,24.8863889 C26.5393182,25.4785606 27.0208838,25.9601263 27.6130556,25.9601263')
																			path#Fill-15(d='M42.0718434,24.8864141 C42.0718434,23.2505556 43.4026515,21.92 45.0382576,21.92 C46.6741162,21.92 48.0046717,23.2505556 48.0046717,24.8864141 C48.0046717,26.5222727 46.6741162,27.8528283 45.0382576,27.8528283 C43.4026515,27.8528283 42.0718434,26.5222727 42.0718434,24.8864141 Z M7.70063131,24.8864141 C7.70063131,26.5222727 6.36982323,27.8528283 4.73421717,27.8528283 C3.09835859,27.8528283 1.76780303,26.5222727 1.76780303,24.8864141 C1.76780303,23.2505556 3.09835859,21.92 4.73421717,21.92 C6.36982323,21.92 7.70063131,23.2505556 7.70063131,24.8864141 Z M21.9195707,4.73439394 C21.9195707,3.09853535 23.2506313,1.76772727 24.8862374,1.76772727 C26.522096,1.76772727 27.8526515,3.09853535 27.8526515,4.73439394 C27.8526515,6.37 26.522096,7.70080808 24.8862374,7.70080808 C23.2506313,7.70080808 21.9195707,6.37 21.9195707,4.73439394 Z M24.8862374,15.7114141 C29.9453283,15.7114141 34.0612374,19.8273232 34.0612374,24.8864141 C34.0612374,29.9455051 29.9453283,34.0614141 24.8862374,34.0614141 C19.8271465,34.0614141 15.7109848,29.9455051 15.7109848,24.8864141 C15.7109848,19.8273232 19.8271465,15.7114141 24.8862374,15.7114141 Z M38.9526515,7.89929293 C38.9526515,7.10686869 39.2612374,6.36217172 39.8215909,5.80156566 C40.382197,5.24146465 41.1271465,4.93262626 41.9193182,4.93262626 C42.7114899,4.93262626 43.4564394,5.24146465 44.0167929,5.80156566 C44.5761364,6.36090909 44.8844697,7.10585859 44.8844697,7.89929293 C44.8844697,8.69272727 44.5761364,9.43767677 44.0167929,9.9970202 C43.4564394,10.5571212 42.7117424,10.8657071 41.9193182,10.8657071 C41.1268939,10.8657071 40.3819444,10.5571212 39.8215909,9.9970202 C39.2612374,9.43641414 38.9526515,8.69171717 38.9526515,7.89929293 Z M10.8655303,7.89929293 C10.8655303,8.69171717 10.5569444,9.43641414 9.99659091,9.9970202 C9.4364899,10.5571212 8.6915404,10.8657071 7.89911616,10.8657071 C7.10643939,10.8657071 6.36174242,10.5571212 5.80138889,9.9970202 C4.64482323,8.84045455 4.64482323,6.95838384 5.80138889,5.80156566 C6.36174242,5.24146465 7.10669192,4.93262626 7.89911616,4.93262626 C8.69128788,4.93262626 9.4364899,5.24146465 9.99659091,5.80156566 C10.5569444,6.36217172 10.8655303,7.10686869 10.8655303,7.89929293 Z M10.8655303,41.9194949 C10.8655303,42.7116667 10.5569444,43.4566162 9.99659091,44.0172222 C9.4364899,44.5775758 8.69128788,44.8859091 7.89911616,44.8859091 C7.10669192,44.8859091 6.36174242,44.5775758 5.80138889,44.0172222 C4.64482323,42.860404 4.64482323,40.9785859 5.80138889,39.8220202 C6.36174242,39.2616667 7.10643939,38.9528283 7.89911616,38.9528283 C8.6915404,38.9528283 9.4364899,39.2616667 9.99659091,39.8220202 C10.5569444,40.3821212 10.8655303,41.1270707 10.8655303,41.9194949 Z M38.9526515,41.9194949 C38.9526515,41.1270707 39.2612374,40.3821212 39.8215909,39.8220202 C40.382197,39.2616667 41.1268939,38.9528283 41.9193182,38.9528283 C42.7117424,38.9528283 43.4564394,39.2616667 44.0167929,39.8220202 C44.5761364,40.3811111 44.8844697,41.1263131 44.8844697,41.9194949 C44.8844697,42.7129293 44.5761364,43.4578788 44.0167929,44.0172222 C43.4564394,44.5775758 42.7114899,44.8859091 41.9193182,44.8859091 C41.1271465,44.8859091 40.382197,44.5775758 39.8215909,44.0172222 C39.2612374,43.4566162 38.9526515,42.7116667 38.9526515,41.9194949 Z M24.8862374,42.0720202 C26.522096,42.0720202 27.8526515,43.4028283 27.8526515,45.0386869 C27.8526515,46.6742929 26.522096,48.005101 24.8862374,48.005101 C23.2506313,48.005101 21.9195707,46.6742929 21.9195707,45.0386869 C21.9195707,43.4028283 23.2506313,42.0720202 24.8862374,42.0720202 Z M40.3900253,25.7702525 C40.8054293,27.9591414 42.7301768,29.6205051 45.0382576,29.6205051 C47.6486111,29.6205051 49.7723485,27.4967677 49.7723485,24.8864141 C49.7723485,22.2760606 47.6486111,20.1523232 45.0382576,20.1523232 C42.7301768,20.1523232 40.8054293,21.8136869 40.3900253,24.0025758 L35.7920455,24.0025758 C35.6084596,21.7275758 34.702904,19.5419697 33.222096,17.800303 L39.2314394,11.7912121 C40.0190657,12.3356566 40.9647727,12.6333838 41.9193182,12.6333838 C43.1837121,12.6333838 44.372601,12.1409596 45.2667929,11.2467677 C47.1127525,9.40106061 47.1127525,6.39752525 45.2667929,4.55181818 C44.372601,3.65762626 43.1837121,3.16494949 41.9193182,3.16494949 C40.6546717,3.16494949 39.4657828,3.65762626 38.5718434,4.55181818 C36.9801768,6.1429798 36.7465909,8.67707071 37.9907828,10.5321212 L31.9723485,16.5505556 C30.2299242,15.0694949 28.0448232,14.1639394 25.7700758,13.9806061 L25.7700758,9.38565657 C27.9594697,8.97050505 29.6203283,7.04247475 29.6203283,4.73439394 C29.6203283,2.12378788 27.4965909,5.05050505e-05 24.8862374,5.05050505e-05 C22.2756313,5.05050505e-05 20.1518939,2.12378788 20.1518939,4.73439394 C20.1518939,7.04272727 21.8127525,8.97075758 24.002399,9.38565657 L24.002904,13.9806061 C21.6915404,14.1664646 19.4789141,15.0942424 17.7243687,16.6134343 L11.7539141,10.6429798 C13.0892677,8.7730303 12.8872475,6.19247475 11.2465909,4.55181818 C10.3526515,3.65762626 9.16376263,3.16494949 7.89911616,3.16494949 C6.6344697,3.16494949 5.44558081,3.65762626 4.55164141,4.55181818 C2.70568182,6.39752525 2.70568182,9.40106061 4.55164141,11.2467677 C5.44558081,12.1409596 6.6344697,12.6333838 7.89911616,12.6333838 C8.81906566,12.6333838 9.70568182,12.3684848 10.4763889,11.865202 L16.4875,17.8760606 C15.0238636,19.6255556 14.1609848,21.7346465 13.9804293,24.0025758 L9.3854798,24.0025758 C8.97032828,21.8131818 7.04204545,20.1523232 4.73421717,20.1523232 C2.12386364,20.1523232 0.000126262626,22.2760606 0.000126262626,24.8864141 C0.000126262626,27.4967677 2.12386364,29.6205051 4.73421717,29.6205051 C7.04204545,29.6205051 8.97032828,27.9596465 9.3854798,25.7702525 L13.9806818,25.7702525 C14.1637626,28.0447475 15.0690657,30.2303535 16.5503788,31.9725253 L10.532197,37.9907071 C9.74886364,37.4629293 8.84305556,37.1851515 7.89911616,37.1851515 C6.63472222,37.1851515 5.44583333,37.6775758 4.55164141,38.5717677 C3.65744949,39.4659596 3.16502525,40.6548485 3.16502525,41.9194949 C3.16502525,43.1838889 3.65744949,44.3727778 4.55164141,45.2669697 C5.44583333,46.1611616 6.63472222,46.6535859 7.89911616,46.6535859 C9.1635101,46.6535859 10.352399,46.1611616 11.2465909,45.2669697 C12.8622475,43.6513131 13.0799242,41.0939899 11.7910354,39.2313636 L17.8001263,33.2222727 C19.542298,34.7033333 21.7276515,35.6088889 24.002399,35.7922222 L24.002399,40.390202 C21.8132576,40.8056061 20.1518939,42.7303535 20.1518939,45.0386869 C20.1518939,47.6490404 22.2756313,49.7727778 24.8862374,49.7727778 C27.4965909,49.7727778 29.6203283,47.6490404 29.6203283,45.0386869 C29.6203283,42.7303535 27.9589646,40.8056061 25.7700758,40.390202 L25.7700758,35.7924747 C28.0382576,35.6119192 30.147096,34.7487879 31.8965909,33.2851515 L37.9534091,39.3419697 C36.7316919,41.2131818 36.9771465,43.6727778 38.5718434,45.2669697 C39.4660354,46.1611616 40.6549242,46.6535859 41.9193182,46.6535859 C43.1834596,46.6535859 44.3723485,46.1611616 45.2667929,45.2669697 C46.1609848,44.3727778 46.6536616,43.1838889 46.6536616,41.9194949 C46.6536616,40.6548485 46.1609848,39.4659596 45.2667929,38.5717677 C44.3723485,37.6775758 43.1834596,37.1851515 41.9193182,37.1851515 C40.9392677,37.1851515 39.9736111,37.4960101 39.1756313,38.0644444 L33.1592172,32.0480303 C34.6781566,30.2939899 35.6059343,28.0816162 35.7920455,25.7702525 L40.3900253,25.7702525 Z')
																			path#Fill-18(d='M24.6337879,30.4692172 L24.6337879,32.2368939 L24.8863131,32.2368939 C28.8999495,32.2368939 32.1964141,28.9717424 32.2350505,24.9581061 L32.2373232,24.7033081 L30.4701515,24.7033081 L30.4673737,24.952803 C30.4317677,27.9944697 27.9282323,30.4692172 24.8863131,30.4692172 L24.6337879,30.4692172 Z')
																			path#Fill-20(d='M19.3033838,24.8864141 C19.3033838,21.8081313 21.8079293,19.3035859 24.8862121,19.3035859 L25.1387374,19.3035859 L25.1387374,17.5359091 L24.8862121,17.5359091 C20.8331818,17.5359091 17.5357071,20.8333838 17.5357071,24.8864141 L17.5357071,25.1389394 L19.3033838,25.1389394 L19.3033838,24.8864141 Z')
																			path#Fill-22(d='M41.9078535,8.96093434 C42.1828535,8.96093434 42.4578535,8.85638889 42.667197,8.64704545 C43.0856313,8.22835859 43.0856313,7.54704545 42.667197,7.12861111 C42.2485101,6.70967172 41.567197,6.70967172 41.1485101,7.12861111 C40.9454798,7.33113636 40.8338636,7.60083333 40.8338636,7.88770202 C40.8338636,8.17457071 40.9454798,8.44426768 41.1485101,8.64704545 C41.3578535,8.85638889 41.6328535,8.96093434 41.9078535,8.96093434')
																			path#Fill-24(d='M7.12840909,41.1486364 C6.70972222,41.5673232 6.70972222,42.2483838 7.12840909,42.6673232 C7.33775253,42.8766667 7.61275253,42.9812121 7.8875,42.9812121 C8.1625,42.9812121 8.4375,42.8766667 8.64684343,42.6673232 C9.0655303,42.2483838 9.0655303,41.5673232 8.64684343,41.1486364 C8.22815657,40.7304545 7.54734848,40.7299495 7.12840909,41.1486364')
																			path#Fill-26(d='M7.88772727,6.81396465 C7.60060606,6.81396465 7.33116162,6.92558081 7.12838384,7.12861111 C6.92535354,7.33138889 6.81373737,7.60108586 6.81373737,7.88770202 C6.81373737,8.17457071 6.92535354,8.44426768 7.12838384,8.64704545 C7.33116162,8.84982323 7.60060606,8.96143939 7.88772727,8.96143939 C8.17459596,8.96143939 8.4440404,8.84982323 8.64681818,8.64704545 C8.84984848,8.44426768 8.96146465,8.17457071 8.96146465,7.88770202 C8.96146465,7.60083333 8.84984848,7.33113636 8.64681818,7.12861111 C8.4440404,6.92558081 8.17459596,6.81396465 7.88772727,6.81396465')
																			path#Fill-28(d='M41.9078535,42.9811869 C42.1828535,42.9811869 42.4578535,42.8766414 42.667197,42.667298 C43.0856313,42.2486111 43.0856313,41.567298 42.667197,41.1486111 C42.2485101,40.7299242 41.567197,40.7304293 41.1485101,41.1486111 C40.7298232,41.567298 40.7298232,42.2486111 41.1485101,42.667298 C41.3578535,42.8766414 41.6328535,42.9811869 41.9078535,42.9811869')
										span._label Đại công viên BBQ
								li._item
									a(href='javascript:void(0);', onclick='introSlider.slideTo(1)')
										span._img
											svg(width='54px', height='38px', viewBox='0 0 54 38', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
												// Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch
												title football
												desc Created with Sketch.
												defs
												g#Homepage_PC(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', transform='translate(-1234.000000, -1085.000000)')
													g#2-copy(transform='translate(0.000000, 730.000000)', fill='#FFFFFF')
														g#infomation(transform='translate(959.000000, 116.000000)')
															g#icontienich(transform='translate(18.000000, 203.000000)')
																g#tienich(transform='translate(250.000000, 36.000000)')
																	g#football(transform='translate(7.000000, 0.000000)')
																		path#Shape(d='M0,0 L0,38 L53.8853503,38 L53.8853503,0 L0,0 Z M27.8117937,15.6680909 C29.3075467,16.0541364 30.4191494,17.3945 30.4191494,19 C30.4191494,20.6055 29.3075467,21.9458636 27.8117937,22.3319091 L27.8117937,15.6680909 Z M1.73823711,13.8181818 L3.47647421,13.8181818 L3.47647421,24.1818182 L1.73823711,24.1818182 L1.73823711,13.8181818 Z M1.73823711,25.9090909 L5.21471132,25.9090909 L5.21471132,12.0909091 L1.73823711,12.0909091 L1.73823711,9.5 L8.69118554,9.5 L8.69118554,28.5 L1.73823711,28.5 L1.73823711,25.9090909 Z M26.0735566,22.3319091 C24.5778036,21.9458636 23.4662009,20.6055 23.4662009,19 C23.4662009,17.3945 24.5778036,16.0541364 26.0735566,15.6680909 L26.0735566,22.3319091 Z M26.0735566,13.8959091 C23.6113437,14.3087273 21.7279638,16.4367273 21.7279638,19 C21.7279638,21.5632727 23.6113437,23.6904091 26.0735566,24.1040909 L26.0735566,36.2727273 L1.73823711,36.2727273 L1.73823711,30.2272727 L10.4294226,30.2272727 L10.4294226,23.8717727 C12.4779351,23.1489091 13.9058969,21.2091818 13.9058969,19 C13.9058969,16.7908182 12.4779351,14.8502273 10.4294226,14.1282273 L10.4294226,7.77272727 L1.73823711,7.77272727 L1.73823711,1.72727273 L26.0735566,1.72727273 L26.0735566,13.8959091 Z M10.4294226,21.9847273 L10.4294226,16.0152727 C11.4767105,16.6206818 12.1676597,17.7451364 12.1676597,19 C12.1676597,20.2548636 11.4767105,21.3793182 10.4294226,21.9847273 Z M52.1471132,24.1818182 L50.4088761,24.1818182 L50.4088761,13.8181818 L52.1471132,13.8181818 L52.1471132,24.1818182 Z M52.1471132,12.0909091 L48.670639,12.0909091 L48.670639,25.9090909 L52.1471132,25.9090909 L52.1471132,28.5 L45.1941648,28.5 L45.1941648,9.5 L52.1471132,9.5 L52.1471132,12.0909091 Z M52.1471132,7.77272727 L43.4559277,7.77272727 L43.4559277,14.1282273 C41.4074152,14.8510909 39.9794535,16.7908182 39.9794535,19 C39.9794535,21.2091818 41.4074152,23.1497727 43.4559277,23.8717727 L43.4559277,30.2272727 L52.1471132,30.2272727 L52.1471132,36.2727273 L27.8117937,36.2727273 L27.8117937,24.1040909 C30.2740066,23.6912727 32.1573865,21.5632727 32.1573865,19 C32.1573865,16.4367273 30.2740066,14.3095909 27.8117937,13.8959091 L27.8117937,1.72727273 L52.1471132,1.72727273 L52.1471132,7.77272727 Z M43.4559277,16.0152727 L43.4559277,21.9847273 C42.4086398,21.3793182 41.7176906,20.2548636 41.7176906,19 C41.7176906,17.7451364 42.4086398,16.6206818 43.4559277,16.0152727 Z')
										span._label Đại công viên GYM
								li._item
									a(href='javascript:void(0);', onclick='introSlider.slideTo(2)')
										span._img
											svg(width='59px', height='54px', viewBox='0 0 59 54', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
												// Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch
												title giaoduc
												desc Created with Sketch.
												defs
												g#Homepage_PC(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', transform='translate(-1110.000000, -1077.000000)')
													g#2-copy(transform='translate(0.000000, 730.000000)', stroke='#FFFFFF')
														g#infomation(transform='translate(959.000000, 116.000000)')
															g#icontienich(transform='translate(18.000000, 203.000000)')
																g#tienich(transform='translate(103.000000, 0.000000)')
																	g(id='icon/tienich/quangtruong')
																		g#giaoduc(transform='translate(31.000000, 28.000000)')
																			g#Page-1(transform='translate(0.000000, 0.140625)')
																				polygon#Clip-2(stroke-width='0.2', points='38.6287288 47.9992246 41.5264685 47.9992246 41.5264685 53.7598125 38.6287288 53.7598125')
																				path#Fill-1(d='M40.7939605,48.0287953 C40.2762044,47.8981547 39.7523654,48.2128734 39.6236337,48.7264359 L38.6581459,52.5667641 C38.5277166,53.0820141 38.8433215,53.6021859 39.3610776,53.7312797 C39.4390239,53.7511078 39.5185263,53.7598266 39.5959068,53.7598266 C40.0286434,53.7598266 40.4214873,53.4687328 40.5315459,53.0330766 L41.497458,49.1934516 C41.6267556,48.6786234 41.3117166,48.1573266 40.7939605,48.0287953', stroke-width='0.2', fill='#FFFFFF')
																				path#Fill-4(d='M28.9718205,28.7999719 C29.0972985,28.7999719 29.2226351,28.7757844 29.3403327,28.7269875 L39.9633863,24.3570656 C40.4563863,24.154425 40.6900839,23.59305 40.4862351,23.1029719 C40.2822449,22.6124719 39.7152595,22.3822687 39.2240985,22.5828 L28.9718205,26.8009875 L1.93123024,15.6785344 L1.93123024,15.3598781 C1.93123024,14.8297219 1.49863512,14.4002531 0.965883902,14.4002531 C0.432708293,14.4002531 -2.82926829e-05,14.8297219 -2.82926829e-05,15.3598781 L-2.82926829e-05,16.3200656 C-2.82926829e-05,16.7084719 0.235366829,17.0589094 0.596805854,17.2067062 L28.602601,28.7269875 C28.7202985,28.7757844 28.8463424,28.7999719 28.9718205,28.7999719', stroke-width='0.2', fill='#FFFFFF')
																				path#Fill-7(d='M40.4601917,38.6350734 C40.2242307,38.1599016 39.6467771,37.9641516 39.1670746,38.1992766 C37.3331429,39.1008234 34.2694698,40.1489016 29.9377185,40.2923391 L29.9377185,31.6801828 C29.9377185,31.1498859 29.5051234,30.7198547 28.9718063,30.7198547 C28.4384893,30.7198547 28.0058941,31.1498859 28.0058941,31.6801828 L28.0058941,40.2834797 C16.0146063,39.9033703 12.145299,32.6821359 11.5889234,31.4802141 L11.5889234,24.9598547 C11.5889234,24.4302609 11.1561868,24.0000891 10.6230112,24.0000891 C10.09026,24.0000891 9.65766488,24.4302609 9.65766488,24.9598547 L9.65766488,31.6801828 C9.65766488,31.8021047 9.68086488,31.9229016 9.72613317,32.0372297 C9.89405024,32.4530578 14.0042698,42.2401359 28.9718063,42.2401359 C34.2032649,42.2401359 37.8691478,40.9784484 40.0225039,39.9203859 C40.5016405,39.6852609 40.6978502,39.1102453 40.4601917,38.6350734', stroke-width='0.2', fill='#FFFFFF')
																				path#Fill-9(d='M43.4574478,48.9598875 C42.9237063,48.9598875 42.4921015,49.3900594 42.4921015,49.9202156 L42.4921015,52.8002156 C42.4921015,53.3298094 42.9237063,53.7598406 43.4574478,53.7598406 C43.9917551,53.7598406 44.42336,53.3298094 44.42336,52.8002156 L44.42336,49.9202156 C44.42336,49.3900594 43.9917551,48.9598875 43.4574478,48.9598875', stroke-width='0.2', fill='#FFFFFF')
																				path#Fill-12(d='M43.4574478,46.0798172 C42.9246966,46.0798172 42.4921015,45.6492234 42.4921015,45.1203328 C42.4921015,44.5911609 42.9246966,44.1601453 43.4574478,44.1601453 C43.9907649,44.1601453 44.42336,44.5911609 44.42336,45.1203328 C44.42336,45.6488016 43.9907649,46.0798172 43.4574478,46.0798172 M28.9718771,13.4400516 C27.792638,13.4400516 27.0400527,12.8715047 27.0400527,12.4797234 C27.0400527,12.0880828 27.792638,11.5200984 28.9718771,11.5200984 C30.1509746,11.5200984 30.9031356,12.0880828 30.9031356,12.4797234 C30.9031356,12.8715047 30.1509746,13.4400516 28.9718771,13.4400516 M56.9776722,14.4002391 C56.4439307,14.4002391 56.01176,14.8297078 56.01176,15.3598641 L56.01176,15.6768328 L44.42336,20.4180047 L44.42336,18.6832547 L57.3468917,13.3669266 C57.7076234,13.2191297 57.9435844,12.8688328 57.9435844,12.4797234 C57.9435844,12.0908953 57.7076234,11.7414422 57.347882,11.5926609 L29.3403893,0.0729421875 C29.1038624,-0.0243703125 28.8391844,-0.0243703125 28.6026576,0.0729421875 L0.596862439,11.5926609 C0.235423415,11.7414422 2.82926829e-05,12.0908953 2.82926829e-05,12.4797234 C2.82926829e-05,12.8688328 0.235423415,13.2191297 0.596862439,13.3669266 L28.6026576,24.8872078 C28.720921,24.9362859 28.846399,24.9597703 28.9718771,24.9597703 C29.0973551,24.9597703 29.2226917,24.9362859 29.3409551,24.8872078 L39.4671893,20.7217547 C39.9606137,20.5200984 40.1944527,19.9581609 39.9910283,19.4676609 C39.7871795,18.9781453 39.2218917,18.7469578 38.7294576,18.9484734 L28.9718771,22.9613484 L3.49134537,12.4797234 L28.9718771,1.99880156 L54.4524088,12.4797234 L43.3646478,17.0407547 L32.7448478,13.0988953 C32.8007259,12.8994891 32.8343941,12.6940359 32.8343941,12.4797234 C32.8343941,10.8653484 31.1379649,9.59972344 28.9718771,9.59972344 C26.8056478,9.59972344 25.1092185,10.8653484 25.1092185,12.4797234 C25.1092185,14.0948016 26.8056478,15.3598641 28.9718771,15.3598641 C29.9383551,15.3598641 30.8008576,15.0978797 31.4712527,14.6754422 L42.4921015,18.7663641 L42.4921015,42.4163953 C41.3708624,42.8152078 40.5602771,43.8698953 40.5602771,45.1203328 C40.5602771,46.7077078 41.8604673,48.0001922 43.4574478,48.0001922 C45.0549941,48.0001922 46.3546185,46.7077078 46.3546185,45.1203328 C46.3546185,43.8704578 45.544599,42.8152078 44.42336,42.4163953 L44.42336,36.9677391 C47.19576,34.8874734 48.1898234,32.1167391 48.2329698,31.9942547 C48.2677698,31.8931453 48.2860185,31.7865516 48.2860185,31.6802391 L48.2860185,24.9601922 C48.2860185,24.4301766 47.8544137,24.0000047 47.3206722,24.0000047 C46.7862234,24.0000047 46.3546185,24.4301766 46.3546185,24.9601922 L46.3546185,31.5026297 C46.1878332,31.9095984 45.6069844,33.1642547 44.42336,34.4030203 L44.42336,22.4943328 L57.34576,17.2078172 C57.7076234,17.0600203 57.9435844,16.7090203 57.9435844,16.3200516 L57.9435844,15.3598641 C57.9435844,14.8297078 57.5115551,14.4002391 56.9776722,14.4002391', stroke-width='0.2', fill='#FFFFFF')
																				path#Fill-15(d='M47.2913327,48.7264219 C47.1620351,48.2128594 46.6364985,47.8992656 46.1210059,48.0287813 C45.6031083,48.1573125 45.2887766,48.6786094 45.4180741,49.1934375 L46.3839863,53.0330625 C46.4939034,53.4687188 46.8868888,53.7598125 47.3194839,53.7598125 C47.3968644,53.7598125 47.4759424,53.7510938 47.5543132,53.7312656 C48.0722107,53.6027344 48.3865424,53.082 48.2572449,52.56675 L47.2913327,48.7264219 Z', stroke-width='0.2', fill='#FFFFFF')
										span._label Giáo dục
								li._item
									a(href='javascript:void(0);', onclick='introSlider.slideTo(3)')
										span._img
											svg(width='51px', height='51px', viewBox='0 0 51 51', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
												// Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch
												title khuvuichoi
												desc Created with Sketch.
												defs
													polygon#path-1(points='5.49865229e-05 0 50.9172453 0 50.9172453 50.916283 5.49865229e-05 50.916283')
												g#Homepage_PC(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', transform='translate(-1238.000000, -1193.000000)')
													g#2-copy(transform='translate(0.000000, 730.000000)')
														g#infomation(transform='translate(959.000000, 116.000000)')
															g#icontienich(transform='translate(18.000000, 203.000000)')
																g#tienich-copy(transform='translate(240.000000, 144.000000)')
																	g#khuvuichoi(transform='translate(21.000000, 0.000000)')
																		g#Page-1
																			mask#mask-2(fill='white')
																				use(xlink:href='#path-1')
																			g#Clip-2
																			path#Fill-1(d='M49.2677046,22.6679191 C49.2677046,24.1269865 48.2017908,25.3710566 46.8411493,25.5010997 C46.0684512,25.5751941 45.3299822,25.330779 44.7619714,24.8137682 C44.200834,24.3041806 43.8797127,23.5776712 43.8791628,22.8199569 L43.8791628,21.8844987 L49.2677046,21.8844987 L49.2677046,22.6679191 Z M43.2991925,20.234903 L35.6526291,15.2646712 L46.3578178,20.234903 L43.2991925,20.234903 Z M42.2295671,22.819407 C42.2295671,24.3052803 41.0208259,25.5138841 39.5355024,25.5138841 C38.0497666,25.5138841 36.8410253,24.3052803 36.8410253,22.819407 L36.8410253,21.8844987 L42.2295671,21.8844987 L42.2295671,22.819407 Z M42.5941278,33.1304798 C43.2267477,32.393248 43.7051305,31.8744501 44.253896,31.6650889 L45.4051763,35.1189299 C45.4079256,35.1280027 45.4138367,35.1457358 45.3977531,35.1688302 C45.3811197,35.1913747 45.3622868,35.1913747 45.3530765,35.1913747 L43.9344243,35.1913747 C43.4791358,35.1913747 43.1096264,35.5608841 43.1096264,36.0161725 L43.1096264,39.2482803 C42.1741682,38.3697332 40.9166264,37.8305903 39.5355024,37.8305903 C38.1538286,37.8305903 36.8962868,38.3697332 35.9613784,39.2482803 L35.9613784,36.0161725 C35.9613784,35.5006739 36.3807881,35.0812642 36.8962868,35.0812642 L39.5355024,35.0812642 C40.9208879,35.0812642 41.8096075,34.0449057 42.5941278,33.1304798 Z M36.3774889,20.234903 L30.5351709,13.9060916 L40.2721844,20.234903 L36.3774889,20.234903 Z M35.1914296,22.819407 C35.1914296,24.3052803 33.9826884,25.5138841 32.4968151,25.5138841 C31.0114916,25.5138841 29.8027504,24.3052803 29.8027504,22.819407 L29.8027504,21.8844987 L35.1914296,21.8844987 L35.1914296,22.819407 Z M27.3144728,12.8493881 L34.1323892,20.234903 L29.5869283,20.234903 L27.3144728,12.8493881 Z M46.5736399,47.3985202 C47.0891385,47.3985202 47.5085482,47.8177925 47.5085482,48.3332911 L47.5085482,49.2666873 L3.40921941,49.2666873 L3.40921941,48.3332911 C3.40921941,47.8177925 3.82876658,47.3985202 4.34426523,47.3985202 L46.5736399,47.3985202 Z M21.330427,20.234903 L16.7853784,20.234903 L23.6028825,12.8488383 L21.330427,20.234903 Z M21.1151547,22.819407 C21.1151547,24.3052803 19.9064135,25.5138841 18.4205402,25.5138841 C16.9345294,25.5138841 15.7259256,24.3052803 15.7259256,22.819407 L15.7259256,21.8844987 L21.1151547,21.8844987 L21.1151547,22.819407 Z M14.5402787,20.234903 L10.6454458,20.234903 L20.3825968,13.9060916 L14.5402787,20.234903 Z M14.0763299,22.819407 C14.0763299,24.3052803 12.8675887,25.5138841 11.3822652,25.5138841 C9.89652938,25.5138841 8.68778814,24.3052803 8.68778814,22.819407 L8.68778814,21.8844987 L14.0763299,21.8844987 L14.0763299,22.819407 Z M14.4408906,33.1304798 C15.073373,32.393248 15.5525806,31.8744501 16.1007962,31.6650889 L17.2520765,35.1189299 C17.2548259,35.1280027 17.2610119,35.1457358 17.2443784,35.1688302 C17.2278825,35.1913747 17.2091871,35.1913747 17.1999768,35.1913747 L15.7811871,35.1913747 C15.3257612,35.1913747 14.9563892,35.5608841 14.9563892,36.0161725 L14.9563892,39.2482803 C14.0210685,38.3697332 12.7635267,37.8311402 11.3822652,37.8311402 C10.0011412,37.8311402 8.74318706,38.3697332 7.80814124,39.2482803 L7.80814124,36.0161725 C7.80814124,35.5012237 8.22768841,35.081814 8.74318706,35.081814 L11.3822652,35.081814 C12.7676507,35.0812642 13.6570577,34.0449057 14.4408906,33.1304798 Z M7.6185752,20.234903 L4.55994987,20.234903 L15.2651385,15.2646712 L7.6185752,20.234903 Z M7.03819245,22.819407 C7.03819245,23.5771213 6.71638383,24.3036307 6.15593369,24.8137682 C5.58737305,25.3303666 4.84890404,25.5751941 4.0767558,25.5010997 C2.71542695,25.3710566 1.64965067,24.1269865 1.64965067,22.6679191 L1.64965067,21.8844987 L7.03819245,21.8844987 L7.03819245,22.819407 Z M27.2730954,26.7645526 L27.2730954,45.7489245 L23.6442598,45.7489245 L23.6442598,26.7645526 C24.1968744,27.0202399 24.8109364,27.1634798 25.4586776,27.1634798 C26.1062814,27.1634798 26.7204809,27.0202399 27.2730954,26.7645526 Z M25.4586776,25.5138841 C23.9734916,25.5138841 22.7647504,24.3052803 22.7647504,22.819407 L22.7647504,21.8844987 L28.1531547,21.8844987 L28.1531547,22.819407 C28.1531547,24.3052803 26.9444135,25.5138841 25.4586776,25.5138841 Z M25.4586776,12.4272291 L27.8610388,20.234903 L23.0563164,20.234903 L25.4586776,12.4272291 Z M26.2834755,2.52965499 L33.1449687,2.52965499 L31.913683,3.7609407 C31.591462,4.08316173 31.591462,4.60512129 31.913683,4.92734232 L33.1449687,6.15862803 L26.2834755,6.15862803 L26.2834755,2.52965499 Z M50.9167504,21.0404555 C50.9162005,21.0236846 50.9156507,21.0065013 50.9141385,20.9898679 C50.9130388,20.977496 50.9113892,20.9658113 50.9102895,20.9539892 C50.9082275,20.9399677 50.9065779,20.9259461 50.9038286,20.9126119 C50.9012167,20.8980404 50.8984674,20.8841563 50.8947558,20.8706846 C50.8920065,20.8588625 50.8893946,20.8475903 50.8860954,20.8363181 C50.881834,20.8213342 50.8770226,20.8067628 50.8722113,20.791779 C50.8684997,20.7816065 50.8652005,20.7718464 50.8614889,20.7616739 C50.8555779,20.7472399 50.8496668,20.7326685 50.8426561,20.7182345 C50.8383946,20.708062 50.8335833,20.697752 50.8282221,20.6881294 C50.8217612,20.6746577 50.8147504,20.6618733 50.8071898,20.6495013 C50.8012787,20.6382291 50.7942679,20.6275067 50.7879445,20.6166469 C50.7809337,20.6059245 50.773373,20.5952022 50.7658124,20.5844798 C50.7578394,20.5726577 50.749179,20.5608356 50.7401062,20.5495633 C50.7330954,20.5410404 50.7255348,20.5318302 50.7186615,20.5233073 C50.7083515,20.5114852 50.6976291,20.5002129 50.6869067,20.4889407 C50.6794836,20.4808302 50.6719229,20.473407 50.6638124,20.4658464 C50.65309,20.455124 50.6412679,20.4444016 50.6294458,20.4346415 C50.6209229,20.4266685 50.6117127,20.4191078 50.60209,20.412097 C50.5913677,20.4030243 50.5800954,20.3943639 50.5682733,20.3863908 C50.5564512,20.3782803 50.545179,20.3707197 50.532807,20.3632965 C50.5226345,20.3568356 50.512462,20.3503747 50.502152,20.3444636 C50.4877181,20.3359407 50.4727342,20.3283801 50.4576129,20.3208194 C50.4517019,20.3176577 50.4463407,20.3143585 50.4404296,20.3117466 L26.2834755,9.09642049 L26.2834755,7.80822372 L35.1365806,7.80822372 C35.4700739,7.80822372 35.7707127,7.60738544 35.8985563,7.29918598 C36.0258501,6.99084906 35.9554674,6.63591105 35.7197127,6.4002938 L33.6636291,4.34407278 L35.7197127,2.28798922 C35.9554674,2.0518221 36.0258501,1.69743396 35.8985563,1.38909704 C35.7707127,1.08089757 35.4700739,0.880059299 35.1365806,0.880059299 L26.2834755,0.880059299 L26.2834755,0.824797844 C26.2834755,0.369371968 25.913966,5.68434189e-14 25.4586776,5.68434189e-14 C25.0032518,5.68434189e-14 24.6338798,0.369371968 24.6338798,0.824797844 L24.6338798,9.09642049 L0.477475472,20.3117466 C0.47156442,20.3143585 0.466203235,20.3182075 0.460292183,20.3208194 C0.445170889,20.3283801 0.430049596,20.3359407 0.415615633,20.3444636 C0.404755795,20.3503747 0.394720755,20.3568356 0.384410782,20.3632965 C0.372726146,20.3707197 0.360904043,20.3782803 0.349631806,20.3863908 C0.337809704,20.3949137 0.326537466,20.4035741 0.315265229,20.412097 C0.306192453,20.4191078 0.29698221,20.4266685 0.287771968,20.4340916 C0.275949865,20.4444016 0.264127763,20.455124 0.252855526,20.4658464 C0.245432345,20.473407 0.237871698,20.4808302 0.230311051,20.4883908 C0.219726146,20.5002129 0.209003774,20.5114852 0.198556334,20.5233073 C0.191820485,20.5318302 0.184122372,20.5404906 0.177249057,20.5495633 C0.16817628,20.5608356 0.159515903,20.5726577 0.150992992,20.5844798 C0.143844744,20.5952022 0.136971429,20.6053747 0.129823181,20.6162345 C0.123087332,20.6275067 0.115939084,20.6382291 0.109478167,20.6495013 C0.102604852,20.6618733 0.0954566038,20.6746577 0.0891331536,20.6875795 C0.0836345013,20.697752 0.0789606469,20.708062 0.0741493261,20.7187844 C0.0682382749,20.7326685 0.0617773585,20.7472399 0.0564161725,20.761124 C0.0520172507,20.7712965 0.0488555256,20.7821563 0.0451439353,20.7923288 C0.0403326146,20.8067628 0.0353838275,20.8213342 0.0312598383,20.8363181 C0.0279606469,20.8475903 0.0253487871,20.8594124 0.0225994609,20.8712345 C0.0194377358,20.8847062 0.0161385445,20.8980404 0.0135266846,20.912062 C0.0113272237,20.9259461 0.0089902965,20.9399677 0.00692830189,20.9545391 C0.00541617251,20.9662237 0.00431644205,20.9780458 0.00321671159,20.9898679 C0.00170458221,21.0065013 0.00101725067,21.0236846 0.000467385445,21.0408679 C0.000467385445,21.0473288 5.49865229e-05,21.0532399 5.49865229e-05,21.0597008 L5.49865229e-05,22.6679191 C5.49865229e-05,24.9678679 1.72195795,26.9337736 3.9200442,27.1431348 C5.14266954,27.2597062 6.36213315,26.8558302 7.26542426,26.0343315 C7.48921941,25.8307439 7.68964528,25.6052992 7.86409003,25.3630836 C8.50042156,26.240531 9.45512507,26.8709515 10.5574674,27.0840243 L10.5574674,33.4316685 L6.1032841,33.4316685 C4.67872075,33.4316685 3.51946739,34.5910593 3.51946739,36.0161725 L3.51946739,39.5354474 C3.51946739,39.9908733 3.88828949,40.3602453 4.34426523,40.3602453 C4.79955364,40.3602453 5.16906307,39.9908733 5.16906307,39.5354474 L5.16906307,36.0161725 C5.16906307,35.5006739 5.58819784,35.0812642 6.1032841,35.0812642 L6.33422749,35.0812642 C6.22136765,35.3718679 6.15854555,35.6863908 6.15854555,36.0161725 L6.15854555,43.05431 C6.15854555,43.5102857 6.52805499,43.8791078 6.9833434,43.8791078 C7.43863181,43.8791078 7.80814124,43.5102857 7.80814124,43.05431 C7.80814124,41.083593 9.41154825,39.480186 11.3822652,39.480186 C13.3531197,39.480186 14.9563892,41.083593 14.9563892,43.05431 C14.9563892,43.5102857 15.3257612,43.8791078 15.7811871,43.8791078 C16.2364755,43.8791078 16.6059849,43.5102857 16.6059849,43.05431 L16.6059849,36.8409704 L17.1999768,36.8409704 C17.745993,36.8409704 18.2631412,36.5762102 18.5827504,36.1331563 C18.9020846,35.68969 18.9897881,35.1156307 18.8172679,34.5975202 L17.443842,30.4766927 C17.3309822,30.1400377 17.015772,29.9128059 16.660834,29.9128059 C15.0277342,29.9128059 14.0080092,31.101752 13.1885725,32.0570054 C12.8123272,32.4963477 12.500966,32.8459245 12.2070631,33.0831914 L12.2070631,27.0840243 C13.3100927,26.8709515 14.2653461,26.2394313 14.9015402,25.361434 C15.691559,26.4520916 16.9739822,27.1634798 18.4205402,27.1634798 C19.8670981,27.1634798 21.1499337,26.4520916 21.9399526,25.361434 C21.9579606,25.3872776 21.976931,25.4129838 21.9956264,25.4382776 C21.9956264,25.4451509 21.9946642,25.4521617 21.9946642,25.4586226 L21.9946642,45.7489245 L4.34426523,45.7489245 C2.91887709,45.7489245 1.75962372,46.9081779 1.75962372,48.3332911 L1.75962372,50.0914852 C1.75962372,50.5473235 2.12899569,50.916283 2.58442156,50.916283 L48.3333461,50.916283 C48.788772,50.916283 49.1581439,50.5473235 49.1581439,50.0914852 L49.1581439,48.3332911 C49.1581439,46.9081779 47.9988906,45.7489245 46.5736399,45.7489245 L28.9226911,45.7489245 L28.9226911,25.4586226 C28.9226911,25.4521617 28.9221412,25.4451509 28.9215914,25.4382776 C28.9409741,25.4129838 28.9592571,25.3872776 28.9779526,25.361434 C29.767834,26.4520916 31.0506695,27.1634798 32.4968151,27.1634798 C33.943373,27.1634798 35.2262086,26.4520916 36.0162275,25.361434 C36.6520092,26.2394313 37.6072625,26.8709515 38.7107046,27.0840243 L38.7107046,33.4316685 L34.2565213,33.4316685 C32.8314081,33.4316685 31.6720173,34.5910593 31.6720173,36.0161725 L31.6720173,39.5354474 C31.6720173,39.9908733 32.0413892,40.3602453 32.4968151,40.3602453 C32.9526534,40.3602453 33.3216129,39.9908733 33.3216129,39.5354474 L33.3216129,36.0161725 C33.3216129,35.5006739 33.7410226,35.0812642 34.2565213,35.0812642 L34.4873272,35.0812642 C34.374055,35.3718679 34.3117827,35.6863908 34.3117827,36.0161725 L34.3117827,43.05431 C34.3117827,43.5102857 34.6807423,43.8791078 35.1365806,43.8791078 C35.5920065,43.8791078 35.9613784,43.5102857 35.9613784,43.05431 C35.9613784,41.083593 37.5647854,39.480186 39.5355024,39.480186 C41.5062194,39.480186 43.1096264,41.083593 43.1096264,43.05431 C43.1096264,43.5102857 43.478586,43.8791078 43.9344243,43.8791078 C44.3898501,43.8791078 44.7592221,43.5102857 44.7592221,43.05431 L44.7592221,36.8409704 L45.3530765,36.8409704 C45.8992302,36.8409704 46.4163784,36.5762102 46.7358501,36.1331563 C47.0553218,35.68969 47.1428879,35.1156307 46.9699553,34.5975202 L45.5963919,30.4766927 C45.4842194,30.1400377 45.1690092,29.9128059 44.8140712,29.9128059 C43.1811089,29.9128059 42.1613838,31.101752 41.3419472,32.0570054 C40.965427,32.4963477 40.6535159,32.8459245 40.3603003,33.0831914 L40.3603003,27.0840243 C41.4627801,26.8709515 42.4174836,26.240531 43.0532652,25.3630836 C43.22771,25.6052992 43.4281358,25.8307439 43.651931,26.0343315 C44.4532221,26.7630404 45.5029148,27.1630674 46.5828501,27.1630674 C46.7208663,27.1630674 46.8592949,27.1566065 46.9973111,27.1431348 C49.1958097,26.9337736 50.9173003,24.9678679 50.9173003,22.6679191 L50.9173003,21.0597008 C50.9173003,21.0532399 50.9167504,21.046779 50.9167504,21.0404555 Z', fill='#FFFFFF', mask='url(#mask-2)')
										span._label Vui chơi, Giải trí
								li._item
									a(href='javascript:void(0);', onclick='introSlider.slideTo(4)')
										span._img
											svg(width='49px', height='49px', viewBox='0 0 49 49', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
												// Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch
												title yte
												desc Created with Sketch.
												defs
												g#Homepage_PC(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', transform='translate(-995.000000, -1080.000000)')
													g#2-copy(transform='translate(0.000000, 730.000000)', fill='#FFFFFF')
														g#infomation(transform='translate(959.000000, 116.000000)')
															g#icontienich(transform='translate(18.000000, 203.000000)')
																g#tienich(transform='translate(18.000000, 31.000000)')
																	g#yte
																		g#Page-1
																			path#Fill-1(d='M34.9658024,47.2040902 L47.2040902,47.2040902 L47.2040902,15.7346171 L34.9658024,15.7346171 L34.9658024,47.2040902 Z M33.217339,14.8606244 L33.217339,47.2040902 L28.846778,47.2040902 L28.846778,40.2107146 L30.595122,40.2107146 L30.595122,38.4623707 L18.3573122,38.4623707 L18.3573122,40.2107146 L20.1055366,40.2107146 L20.1055366,47.2040902 L15.7344976,47.2040902 L15.7344976,1.7483439 L33.217339,1.7483439 L33.217339,14.8606244 Z M21.8538805,47.2040902 L27.0984341,47.2040902 L27.0984341,40.2107146 L21.8538805,40.2107146 L21.8538805,47.2040902 Z M1.7483439,47.2040902 L13.9861537,47.2040902 L13.9861537,15.7346171 L1.7483439,15.7346171 L1.7483439,47.2040902 Z M48.0779634,13.9861537 L34.9656829,13.9861537 L34.9656829,0.873873171 C34.9656829,0.391641463 34.5740415,-5.68434189e-14 34.0918098,-5.68434189e-14 L14.8606244,-5.68434189e-14 C14.3779146,-5.68434189e-14 13.9861537,0.391641463 13.9861537,0.873873171 L13.9861537,13.9861537 L0.873873171,13.9861537 C0.391641463,13.9861537 0,14.3779146 0,14.8606244 L0,48.0779634 C0,48.5606732 0.391641463,48.9524341 0.873873171,48.9524341 L48.0779634,48.9524341 C48.5606732,48.9524341 48.9524341,48.5606732 48.9524341,48.0779634 L48.9524341,14.8606244 C48.9524341,14.3779146 48.5606732,13.9861537 48.0779634,13.9861537 Z')
																			path#Fill-3(d='M10.4895854,20.9795173 L8.74171951,20.9795173 L8.74171951,19.2311734 L10.4899439,19.2311734 L10.4899439,20.9795173 L10.4895854,20.9795173 Z M5.24503171,20.9795173 L6.99337561,20.9795173 L6.99337561,19.2311734 L5.24503171,19.2311734 L5.24503171,20.9795173 Z M11.3639366,17.4828295 L4.37056098,17.4828295 C3.88832927,17.4828295 3.4966878,17.874471 3.4966878,18.3573002 L3.4966878,21.8533905 C3.4966878,22.3362198 3.88832927,22.7278612 4.37056098,22.7278612 L11.3639366,22.7278612 C11.8466463,22.7278612 12.2378098,22.3362198 12.2378098,21.8533905 L12.2378098,18.3573002 C12.2378098,17.874471 11.8466463,17.4828295 11.3639366,17.4828295 Z')
																			path#Fill-4(d='M10.4895854,27.9728571 L8.74171951,27.9728571 L8.74171951,26.2245132 L10.4899439,26.2245132 L10.4899439,27.9728571 L10.4895854,27.9728571 Z M5.24503171,27.9728571 L6.99337561,27.9728571 L6.99337561,26.2245132 L5.24503171,26.2245132 L5.24503171,27.9728571 Z M11.3639366,24.4761693 L4.37056098,24.4761693 C3.88832927,24.4761693 3.4966878,24.8679302 3.4966878,25.350162 L3.4966878,28.8467302 C3.4966878,29.3295595 3.88832927,29.721201 4.37056098,29.721201 L11.3639366,29.721201 C11.8466463,29.721201 12.2378098,29.3295595 12.2378098,28.8467302 L12.2378098,25.350162 C12.2378098,24.8679302 11.8466463,24.4761693 11.3639366,24.4761693 Z')
																			path#Fill-5(d='M10.4895854,34.9657188 L8.74171951,34.9657188 L8.74171951,33.2173749 L10.4899439,33.2173749 L10.4899439,34.9657188 L10.4895854,34.9657188 Z M5.24503171,34.9657188 L6.99337561,34.9657188 L6.99337561,33.2173749 L5.24503171,33.2173749 L5.24503171,34.9657188 Z M11.3639366,31.469031 L4.37056098,31.469031 C3.88832927,31.469031 3.4966878,31.860792 3.4966878,32.3435017 L3.4966878,35.84007 C3.4966878,36.3224212 3.88832927,36.7140627 4.37056098,36.7140627 L11.3639366,36.7140627 C11.8466463,36.7140627 12.2378098,36.3224212 12.2378098,35.84007 L12.2378098,32.3435017 C12.2378098,31.860792 11.8466463,31.469031 11.3639366,31.469031 Z')
																			path#Fill-6(d='M41.9590585,20.9795293 L43.7074024,20.9795293 L43.7074024,19.2311854 L41.9590585,19.2311854 L41.9590585,20.9795293 Z M38.4623707,20.9795293 L40.2107146,20.9795293 L40.2107146,19.2311854 L38.4623707,19.2311854 L38.4623707,20.9795293 Z M44.5812756,17.4828415 L37.5884976,17.4828415 C37.1057878,17.4828415 36.7140268,17.8744829 36.7140268,18.3573122 L36.7140268,21.8534024 C36.7140268,22.3362317 37.1057878,22.7278732 37.5884976,22.7278732 L44.5812756,22.7278732 C45.0639854,22.7278732 45.4557463,22.3362317 45.4557463,21.8534024 L45.4557463,18.3573122 C45.4557463,17.8744829 45.0639854,17.4828415 44.5812756,17.4828415 Z')
																			path#Fill-7(d='M41.9590585,27.9729049 L43.7074024,27.9729049 L43.7074024,26.224561 L41.9590585,26.224561 L41.9590585,27.9729049 Z M38.4623707,27.9729049 L40.2107146,27.9729049 L40.2107146,26.224561 L38.4623707,26.224561 L38.4623707,27.9729049 Z M44.5812756,24.4762171 L37.5884976,24.4762171 C37.1057878,24.4762171 36.7140268,24.8678585 36.7140268,25.3500902 L36.7140268,28.846778 C36.7140268,29.3294878 37.1057878,29.7211293 37.5884976,29.7211293 L44.5812756,29.7211293 C45.0639854,29.7211293 45.4557463,29.3294878 45.4557463,28.846778 L45.4557463,25.3500902 C45.4557463,24.8678585 45.0639854,24.4762171 44.5812756,24.4762171 Z')
																			path#Fill-8(d='M41.9590585,34.9656829 L43.7074024,34.9656829 L43.7074024,33.217339 L41.9590585,33.217339 L41.9590585,34.9656829 Z M38.4623707,34.9656829 L40.2107146,34.9656829 L40.2107146,33.217339 L38.4623707,33.217339 L38.4623707,34.9656829 Z M44.5812756,31.4689951 L37.5884976,31.4689951 C37.1057878,31.4689951 36.7140268,31.8607561 36.7140268,32.3434659 L36.7140268,35.8401537 C36.7140268,36.3223854 37.1057878,36.7140268 37.5884976,36.7140268 L44.5812756,36.7140268 C45.0639854,36.7140268 45.4557463,36.3223854 45.4557463,35.8401537 L45.4557463,32.3434659 C45.4557463,31.8607561 45.0639854,31.4689951 44.5812756,31.4689951 Z')
																			path#Fill-9(d='M28.84679,10.4895854 L26.2245729,10.4895854 C25.7418632,10.4895854 25.3501022,10.8812268 25.3501022,11.3639366 L25.3501022,13.9861537 L23.6017583,13.9861537 L23.6017583,11.3639366 C23.6017583,10.8812268 23.2101168,10.4895854 22.7278851,10.4895854 L20.10519,10.4895854 L20.10519,8.74171951 L22.7278851,8.74171951 C23.2101168,8.74171951 23.6017583,8.34995854 23.6017583,7.86724878 L23.6017583,5.24503171 L25.3501022,5.24503171 L25.3501022,7.86724878 C25.3501022,8.34995854 25.7418632,8.74171951 26.2245729,8.74171951 L28.84679,8.74171951 L28.84679,10.4895854 Z M29.7211412,6.99337561 L27.0984461,6.99337561 L27.0984461,4.37056098 C27.0984461,3.88832927 26.7068046,3.4966878 26.2245729,3.4966878 L22.7278851,3.4966878 C22.2451754,3.4966878 21.8534144,3.88832927 21.8534144,4.37056098 L21.8534144,6.99337561 L19.2311973,6.99337561 C18.7484876,6.99337561 18.3568461,7.38501707 18.3568461,7.86724878 L18.3568461,11.3639366 C18.3568461,11.8466463 18.7484876,12.2378098 19.2311973,12.2378098 L21.8534144,12.2378098 L21.8534144,14.8606244 C21.8534144,15.3428561 22.2451754,15.7344976 22.7278851,15.7344976 L26.2245729,15.7344976 C26.7068046,15.7344976 27.0984461,15.3428561 27.0984461,14.8606244 L27.0984461,12.2378098 L29.7211412,12.2378098 C30.2034924,12.2378098 30.5951339,11.8466463 30.5951339,11.3639366 L30.5951339,7.86724878 C30.5951339,7.38501707 30.2034924,6.99337561 29.7211412,6.99337561 Z')
																			path#Fill-10(d='M20.105178,20.9795293 L21.8534024,20.9795293 L21.8534024,19.2311854 L20.105178,19.2311854 L20.105178,20.9795293 Z M22.7278732,17.4828415 L19.2311854,17.4828415 C18.7484756,17.4828415 18.3573122,17.8744829 18.3573122,18.3573122 L18.3573122,21.8534024 C18.3573122,22.3362317 18.7484756,22.7278732 19.2311854,22.7278732 L22.7278732,22.7278732 C23.2101049,22.7278732 23.6017463,22.3362317 23.6017463,21.8534024 L23.6017463,18.3573122 C23.6017463,17.8744829 23.2101049,17.4828415 22.7278732,17.4828415 Z')
																			path#Fill-11(d='M27.0984341,20.9795293 L28.846778,20.9795293 L28.846778,19.2311854 L27.0984341,19.2311854 L27.0984341,20.9795293 Z M29.7211293,17.4828415 L26.224561,17.4828415 C25.7418512,17.4828415 25.3500902,17.8744829 25.3500902,18.3573122 L25.3500902,21.8534024 C25.3500902,22.3362317 25.7418512,22.7278732 26.224561,22.7278732 L29.7211293,22.7278732 C30.2034805,22.7278732 30.595122,22.3362317 30.595122,21.8534024 L30.595122,18.3573122 C30.595122,17.8744829 30.2034805,17.4828415 29.7211293,17.4828415 Z')
																			path#Fill-12(d='M20.105178,27.9729049 L21.8534024,27.9729049 L21.8534024,26.224561 L20.105178,26.224561 L20.105178,27.9729049 Z M22.7278732,24.4762171 L19.2311854,24.4762171 C18.7484756,24.4762171 18.3573122,24.8678585 18.3573122,25.3500902 L18.3573122,28.846778 C18.3573122,29.3294878 18.7484756,29.7211293 19.2311854,29.7211293 L22.7278732,29.7211293 C23.2101049,29.7211293 23.6017463,29.3294878 23.6017463,28.846778 L23.6017463,25.3500902 C23.6017463,24.8678585 23.2101049,24.4762171 22.7278732,24.4762171 Z')
																			path#Fill-13(d='M27.0984341,27.9729049 L28.846778,27.9729049 L28.846778,26.224561 L27.0984341,26.224561 L27.0984341,27.9729049 Z M29.7211293,24.4762171 L26.224561,24.4762171 C25.7418512,24.4762171 25.3500902,24.8678585 25.3500902,25.3500902 L25.3500902,28.846778 C25.3500902,29.3294878 25.7418512,29.7211293 26.224561,29.7211293 L29.7211293,29.7211293 C30.2034805,29.7211293 30.595122,29.3294878 30.595122,28.846778 L30.595122,25.3500902 C30.595122,24.8678585 30.2034805,24.4762171 29.7211293,24.4762171 Z')
																			path#Fill-14(d='M20.105178,34.9656829 L21.8534024,34.9656829 L21.8534024,33.217339 L20.105178,33.217339 L20.105178,34.9656829 Z M22.7278732,31.4689951 L19.2311854,31.4689951 C18.7484756,31.4689951 18.3573122,31.8607561 18.3573122,32.3434659 L18.3573122,35.8401537 C18.3573122,36.3223854 18.7484756,36.7140268 19.2311854,36.7140268 L22.7278732,36.7140268 C23.2101049,36.7140268 23.6017463,36.3223854 23.6017463,35.8401537 L23.6017463,32.3434659 C23.6017463,31.8607561 23.2101049,31.4689951 22.7278732,31.4689951 Z')
																			path#Fill-15(d='M27.0984341,34.9656829 L28.846778,34.9656829 L28.846778,33.217339 L27.0984341,33.217339 L27.0984341,34.9656829 Z M29.7211293,31.4689951 L26.224561,31.4689951 C25.7418512,31.4689951 25.3500902,31.8607561 25.3500902,32.3434659 L25.3500902,35.8401537 C25.3500902,36.3223854 25.7418512,36.7140268 26.224561,36.7140268 L29.7211293,36.7140268 C30.2034805,36.7140268 30.595122,36.3223854 30.595122,35.8401537 L30.595122,32.3434659 C30.595122,31.8607561 30.2034805,31.4689951 29.7211293,31.4689951 Z')
																			polygon#Fill-16(points='3.4966878 40.2107146 5.24503171 40.2107146 5.24503171 38.4623707 3.4966878 38.4623707')
																			polygon#Fill-17(points='6.99337561 40.2107146 8.74171951 40.2107146 8.74171951 38.4623707 6.99337561 38.4623707')
																			polygon#Fill-18(points='10.4895854 40.2107146 12.2379293 40.2107146 12.2379293 38.4623707 10.4895854 38.4623707')
																			polygon#Fill-19(points='36.7140268 40.2107146 38.4623707 40.2107146 38.4623707 38.4623707 36.7140268 38.4623707')
																			polygon#Fill-20(points='40.2107146 40.2107146 41.9590585 40.2107146 41.9590585 38.4623707 40.2107146 38.4623707')
																			polygon#Fill-21(points='43.7074024 40.2107146 45.4557463 40.2107146 45.4557463 38.4623707 43.7074024 38.4623707')
										span._label Sức khỏe
								li._item
									a(href='javascript:void(0);', onclick='introSlider.slideTo(5)')
										span._img
											svg(width='45px', height='45px', viewBox='0 0 45 45', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
												// Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch
												title shopping
												desc Created with Sketch.
												defs
												g#Homepage_PC(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', transform='translate(-1116.000000, -1198.000000)')
													g#2-copy(transform='translate(0.000000, 730.000000)', fill='#FFFFFF')
														g#infomation(transform='translate(959.000000, 116.000000)')
															g#icontienich(transform='translate(18.000000, 203.000000)')
																g#tienich(transform='translate(131.000000, 149.000000)')
																	g#shopping(transform='translate(8.000000, 0.000000)')
																		g#Page-1
																			path#Fill-1(d='M42.4383146,19.9095256 L19.8739976,42.4742817 C19.4598878,42.8879524 18.9068268,43.1161354 18.3160098,43.1169037 L18.3086561,43.1169037 C17.7183878,43.1161354 17.1653268,42.8879524 16.7515463,42.4742817 L4.93432683,30.6566232 L26.6038024,8.98670854 C26.9696195,8.62100122 26.9696195,8.02798902 26.6038024,7.66228171 C26.2380951,7.29657439 25.6451927,7.29657439 25.2794854,7.66228171 L3.60957073,29.3323061 L2.51585122,28.2385866 C2.10130244,27.823928 1.87311951,27.2696598 1.87311951,26.6776354 C1.87311951,26.0855012 2.10130244,25.5311232 2.51629024,25.1165744 L25.0801683,2.55225732 C25.4951561,2.13759878 26.0495341,1.90908659 26.6415585,1.90908659 C27.2336927,1.90908659 27.7880707,2.13759878 28.2030585,2.55225732 L33.2694,7.61859878 L11.5994854,29.2890622 C11.233778,29.6547695 11.233778,30.247672 11.5994854,30.6133793 C11.7821195,30.7964524 12.0221561,30.8877695 12.2618634,30.8877695 C12.501022,30.8877695 12.7411683,30.7960134 12.9238024,30.6133793 L34.5937171,8.94335488 L42.4383146,16.7875134 C43.2992415,17.6480012 43.2988024,19.0490378 42.4383146,19.9095256 M43.7626317,15.4630866 L29.5273756,1.22783049 C28.7586439,0.45909878 27.7340707,0.0359890244 26.6415585,0.0359890244 C25.5491561,0.0359890244 24.5244732,0.45909878 23.7557415,1.22739146 L1.19142439,23.7917085 C0.423131707,24.5604402 2.19512195e-05,25.5851232 2.19512195e-05,26.6776354 C2.19512195e-05,27.769928 0.423131707,28.794611 1.19142439,29.5629037 L2.94719268,31.3185622 L2.94752195,31.3190012 L14.7455341,43.1169037 L13.1120341,43.1169037 C12.5949732,43.1169037 12.1752659,43.5362817 12.1752659,44.0533427 C12.1752659,44.5708427 12.5949732,44.990111 13.1120341,44.990111 L18.3090951,44.990111 L18.3126073,44.990111 L18.3160098,44.990111 L31.8430098,44.990111 C32.3600707,44.990111 32.779339,44.5708427 32.779339,44.0537817 C32.779339,43.5362817 32.3600707,43.1169037 31.8430098,43.1169037 L21.8801195,43.1169037 L43.7626317,21.2342817 C45.3536561,19.6428183 45.3536561,17.054111 43.7626317,15.4630866')
																			path#Fill-3(d='M23.0753634,27.0848854 C22.7096561,26.719178 22.1167537,26.719178 21.7506073,27.0848854 L14.3810341,34.4544585 C14.0153268,34.8201659 14.0153268,35.4130683 14.3810341,35.7787756 C14.5636683,35.9618488 14.8033756,36.0531659 15.0430829,36.0531659 C15.2826805,36.0531659 15.5223878,35.9618488 15.705461,35.7787756 L23.0749244,28.4092024 C23.4410707,28.0433854 23.4410707,27.4500439 23.0753634,27.0848854')
																			path#Fill-5(d='M20.0523512,34.0804427 L17.029778,37.1034549 C16.6640707,37.4691622 16.6640707,38.0621744 17.029778,38.4278817 C17.2128512,38.6105159 17.4525585,38.702272 17.6921561,38.702272 C17.9318634,38.702272 18.171461,38.6105159 18.3542049,38.4278817 L21.376778,35.4053085 C21.7424854,35.0396012 21.7424854,34.446589 21.376778,34.0804427 C21.0110707,33.7147354 20.4184976,33.7147354 20.0523512,34.0804427')
																			path#Fill-7(d='M22.8339878,31.2993439 L22.436561,31.6967707 C22.0708537,32.062478 22.0708537,32.6553805 22.436561,33.0211976 C22.6196341,33.204161 22.8592317,33.295478 23.098939,33.295478 C23.3386463,33.295478 23.5782439,33.204161 23.760878,33.0211976 L24.1583049,32.6241 C24.5240122,32.2583927 24.5240122,31.6653805 24.1583049,31.2993439 C23.7925976,30.9336366 23.1996951,30.9336366 22.8339878,31.2993439')
																			path#Fill-9(d='M33.7560037,20.377328 L32.4316866,19.052572 L35.0807598,16.403828 L36.4051866,17.7281451 L33.7560037,20.377328 Z M35.7431378,14.4170232 C35.5674183,14.2413037 35.329028,14.1426329 35.0807598,14.1426329 C34.8326012,14.1426329 34.594211,14.2413037 34.4183817,14.4170232 L30.4448817,18.3905232 C30.2694915,18.5663524 30.1704915,18.8043037 30.1704915,19.052572 C30.1704915,19.3011695 30.2694915,19.5391207 30.4448817,19.71495 L33.0940646,22.3635841 C33.2771378,22.5466573 33.5167354,22.6379744 33.7564427,22.6379744 C33.99615,22.6379744 34.2357476,22.5466573 34.4183817,22.3635841 L38.3918817,18.3905232 C38.757589,18.0248159 38.757589,17.4314744 38.3918817,17.0657671 L35.7431378,14.4170232 Z')
																			path#Fill-11(d='M28.1271402,7.07572317 C28.3672866,7.07572317 28.6068841,6.9844061 28.7895183,6.80133293 L29.1869451,6.4039061 C29.5526524,6.03819878 29.5526524,5.44485732 29.1865061,5.07958902 C28.8207988,4.71388171 28.2278963,4.71388171 27.862189,5.07958902 L27.4647622,5.47701585 C27.0994939,5.84272317 27.0994939,6.43606463 27.4652012,6.80177195 C27.6482744,6.9844061 27.8874329,7.07572317 28.1271402,7.07572317')
																			path#Fill-13(d='M9.41409878,31.4741634 L9.01667195,31.8715902 C8.65096463,32.2372976 8.65096463,32.8303098 9.01667195,33.1960171 C9.19974512,33.3790902 9.43945244,33.4704073 9.67915976,33.4704073 C9.91831829,33.4704073 10.1584646,33.3790902 10.3410988,33.1960171 L10.7385256,32.7985902 C11.1042329,32.4328829 11.1042329,31.8398707 10.7385256,31.4741634 C10.3728183,31.1084561 9.7798061,31.1084561 9.41409878,31.4741634')
										span._label Mua sắm
							.dib
								a._btn(href='https://vincity.com/tien-ich-vincity/')
									| Chi tiết 
									i.fa.fa-plus
					._left
						._slider
							#js-intro-slider.swiper-container
								.swiper-wrapper
									.swiper-slide
										._item(style="background-image: url('https://vincity.com/wp-content/uploads/homepage-screen1-2-879x520.jpg')")
											img.show-devide-768(src='https://vincity.com/wp-content/uploads/homepage-screen1-2-879x520.jpg', alt='VinCity')
											._text.hidden-devide-768
												._excerpt
													| Tại VinCity Ocean Park, Chủ đầu tư quy hoạch 62ha công viên và cây xanh với mật độ xây dựng thấp chỉ gần 19% mang lại diện tích lớn không gian xanh, tiện ích và 6 công viên BBQ với hơn 100 điểm nướng dã
													| ngoại cho cả gia đình.
												a._btn(href='javascript:void(0)') Chi tiết
									.swiper-slide
										._item(style="background-image: url('https://vincity.com/wp-content/uploads/VCT_PV_36_P16_fr01-min-924x520.jpg')")
											img.show-devide-768(src='https://vincity.com/wp-content/uploads/VCT_PV_36_P16_fr01-min-924x520.jpg', alt='VinCity')
											._text.hidden-devide-768
												._excerpt
													| VinCity Ocean Park sở hữu đại công viên gym ngoài trời lần đầu tiên xuất hiện cùng hệ thống máy tập tại các công viên nội khu, với hơn 700 máy tập các loại, 150 sân thể thao đa dạng từ sân tennis, sân cầu
													| lông, sân tập bóng rổ, sân bóng chuyền hơi... cùng 8 bể bơi trong nhà và ngoài trời theo phong cách resort
												a._btn(href='javascript:void(0)') Chi tiết
									.swiper-slide
										._item(style="background-image: url('https://vincity.com/wp-content/uploads/tien_ich_hoc_tap-924x520.jpg')")
											img.show-devide-768(src='https://vincity.com/wp-content/uploads/tien_ich_hoc_tap-924x520.jpg', alt='VinCity')
											._text.hidden-devide-768
												._excerpt
													| Tại VinCity,  các hệ thống Trường học công lập, tư thục quy mô, chất lượng được quy hoạch nằm ngay trong khuôn viên khu đô thị nhằm đem lại 1 môi trường giáo dục toàn diện, văn minh tri thức. Điển hình nhất
													| về giáo dục là Vincity Ocean Park với hệ thống Giáo dục liên cấp, quy mô, chất lượng, nằm ngay trong khuôn viên khu đô thị, từ cấp Mầm non đến Đại học.
												a._btn(href='javascript:void(0)') Chi tiết
									.swiper-slide
										._item(style="background-image: url('https://vincity.com/wp-content/uploads/tien_ich_vui_choi-1-924x520.jpg')")
											img.show-devide-768(src='https://vincity.com/wp-content/uploads/tien_ich_vui_choi-1-924x520.jpg', alt='VinCity')
											._text.hidden-devide-768
												._excerpt
													| Tại VinCity, hệ thống sân chơi trẻ em quy mô, đa dạng được phân bổ đều khắp các tiểu khu giúp mang lại cho cư dân nhí không gian vui chơi, giải trí an toàn, hòa mình vào thiên nhiên để học tập, khám phá
													| và phát triển toàn diện.
												a._btn(href='javascript:void(0)') Chi tiết
									.swiper-slide
										._item(style="background-image: url('https://vincity.com/wp-content/uploads/tien_ich_y_tei-924x520.jpg')")
											img.show-devide-768(src='https://vincity.com/wp-content/uploads/tien_ich_y_tei-924x520.jpg', alt='VinCity')
											._text.hidden-devide-768
												._excerpt
													| VinCity được quy hoạch với các hệ thống các bệnh viện, cơ sở y tế công lập và tư nhân đảm bảo cư dân tại đây được hưởng thụ dịch vụ khám chữa bệnh chất lượng và thuận tiện nhất.
												a._btn(href='javascript:void(0)') Chi tiết
									.swiper-slide
										._item(style="background-image: url('https://vincity.com/wp-content/uploads/tien_ich_mua_sam-924x520.jpg')")
											img.show-devide-768(src='https://vincity.com/wp-content/uploads/tien_ich_mua_sam-924x520.jpg', alt='VinCity')
											._text.hidden-devide-768
												._excerpt
													| Hướng đến sự thoải mái và thuận tiện tối ưu cho cư dân, Vincity quy hoạch bài bản hệ thống trường học công lập và tư thục, các bệnh viện, cơ sở y tế công lập và tư nhân cùng các TTTM, siêu thị tiện ích trong
													| cùng một bán kính.
												a._btn(href='javascript:void(0)') Chi tiết
								.swiper-pagination.show-devide-768
							._controls.hidden-devide-768
								a#js-intro-slider-next._next(href='javascript: void(0);')
									img(src='https://vincity.com/wp-content/themes/vincity/assets/images/arrow-next-medium.png', alt='#')
								a#js-intro-slider-prev._prev(href='javascript: void(0);')
									img(src='https://vincity.com/wp-content/themes/vincity/assets/images/arrow-next-medium.png', alt='#')
			.section
				section#js-product.home-product(style="background-image: url('https://vincity.com/wp-content/themes/vincity/assets/images/home/product/bg.jpg');")
					._head(style="background-image: url('https://vincity.com/wp-content/themes/vincity/assets/images/home/product/bg.jpg');")
						._text
							._lineText1 Khám phá
							._lineText2
								| dự án của
								br
								|  Vincity
							.dib.hidden-devide-768
								a._btn(href='https://vincity.com/du-an/')
									| Xem thêm 
									i.fa.fa-plus
					._carousel
						#js-product-slider.swiper-container
							.swiper-wrapper
								.swiper-slide
									.product-thumb.clearfix(style="background-image: url('https://vincity.com/wp-content/uploads/VCT_PV_25_Xuongca_05102018-min-1.jpg');")
										img._img-none(src='https://vincity.com/wp-content/uploads/VCT_PV_25_Xuongca_05102018-min-1.jpg', alt='VinCity')
										._text
											._status Ra mắt
											._title
												a(href='https://vincity.com/ocean-park/') VinCity Ocean Park
											._excerpt
												strong VinCity Ocean Park
												|  là một Thành phố Đại dương đầu tiên giữa lòng nội đô Hà Nội với điểm nhấn là Biển hồ nước mặn 6.1ha, hồ lớn trung tâm 24,5 ha với những bãi cát trắng ven hồ.
								.swiper-slide
									.product-thumb.clearfix(style="background-image: url('https://vincity.com/wp-content/uploads/VCT_PV_34_P12P15_fr04-min-1.jpg');")
										img._img-none(src='https://vincity.com/wp-content/uploads/VCT_PV_34_P12P15_fr04-min-1.jpg', alt='VinCity')
										._text
											._status Săp ra mắt
											._title
												a(href='javascript:void(0)') VinCity Grand Park
											._excerpt
												| VinCity Grand Park - Đại đô thị đẳng cấp Singapore và hơn thế nữa tại quận 9, Thành phố Hồ Chí Minh
								.swiper-slide
									.product-thumb.clearfix(style="background-image: url('https://vincity.com/wp-content/uploads/VCT_PC_16_Gym_T-min-1.jpg');")
										img._img-none(src='https://vincity.com/wp-content/uploads/VCT_PC_16_Gym_T-min-1.jpg', alt='VinCity')
										._text
											._status Săp ra mắt
											._title
												a(href='javascript:void(0)') VinCity Sportia
											._excerpt
												strong VinCity Sportia
												|  - Đại đô thị đẳng cấp Singapore và hơn thế nữa tại Tây Mỗ, Hà Nội
							.swiper-scrollbar.hidden-devide-768
					._bottom.clearfix.show-devide-768
						.fl
							a._btn(href='https://vincity.com/du-an/')
								| Xem thêm 
								i.fa.fa-plus
						.fr._pagination
			.section
				section#js-news.home-news.js-news-tab(style="background-image: url('https://vincity.com/wp-content/themes/vincity/assets/images/home/news/bg.jpg');")
					._head(style="background-image: url('https://vincity.com/wp-content/themes/vincity/assets/images/home/news/bg.jpg');")
						._text
							h2._lineText1 Tin tức
							h2._lineText2 dự án Vincity
							#term_list._nav
								a.is-active(href='#tin-du-an', data-id='102', data-head='') Tin dự án
								a(href='#tin-cong-ty', data-id='64', data-head='') Tin công ty
								a(href='#tin-bao-chi', data-id='3', data-head='') Tin báo chí
							.dib.hidden-devide-768
								a._btn(href='https://vincity.com/tin-tuc-su-kien/')
									| Xem thêm 
									i.fa.fa-plus
					._list-thumb
						._content-wrap
							#tin-du-an._content-item(data-content='')
								.article-thumb(style='background-image: url(https://vincity.com/wp-content/uploads/443872172652730006824116487570967013883904n-15399457626452082979582.jpg);')
									._text
										._date
											i.fa.fa-clock-o
											|  19/10/2018
										a._title(href='https://vincity.com/he-lo-ve-du-an-khu-cong-vien-vui-choi-safari-1-5-ty-usd-doi-dien-dai-do-thi-vincity-ocean-park/')
											| Hé lộ về dự án khu công viên vui chơi safari 1,5 tỷ USD đối diện đại đô thị VinCity Ocean Park
										a._btn(href='https://vincity.com/he-lo-ve-du-an-khu-cong-vien-vui-choi-safari-1-5-ty-usd-doi-dien-dai-do-thi-vincity-ocean-park/') Chi tiết
								.article-thumb(style='background-image: url(https://vincity.com/wp-content/uploads/VCT_PV_25_Xuongca_05102018-min.jpg);')
									._text
										._date
											i.fa.fa-clock-o
											|  18/10/2018
										a._title(href='https://vincity.com/kham-pha-cong-vien-bbq-doc-dao-trong-long-dai-do-thi-vincity-ocean-park-gia-lam/')
											| Khám phá công viên BBQ độc đáo trong lòng đại đô thị  Vincity Ocean Park – Gia Lâm
										a._btn(href='https://vincity.com/kham-pha-cong-vien-bbq-doc-dao-trong-long-dai-do-thi-vincity-ocean-park-gia-lam/') Chi tiết
								.article-thumb(style='background-image: url(https://vincity.com/wp-content/uploads/VCT_PV_36_P16_fr01_05102018-min.jpg);')
									._text
										._date
											i.fa.fa-clock-o
											|  18/10/2018
										a._title(href='https://vincity.com/vincity-do-thi-xanh-chuan-song-an-lanh/') Vincity: Đô thị xanh, chuẩn sống an lành
										a._btn(href='https://vincity.com/vincity-do-thi-xanh-chuan-song-an-lanh/') Chi tiết
								.article-thumb(style='background-image: url(https://vincity.com/wp-content/uploads/VCT_PV_17_P3R17_05102018-min.jpg);')
									._text
										._date
											i.fa.fa-clock-o
											|  18/10/2018
										a._title(href='https://vincity.com/kham-pha-cong-vien-gym-ngoai-troi-tai-vincity-ocean-park/') Khám phá công viên gym ngoài trời tại VinCity Ocean Park
										a._btn(href='https://vincity.com/kham-pha-cong-vien-gym-ngoai-troi-tai-vincity-ocean-park/') Chi tiết
							#tin-cong-ty._content-item(data-content='')
								.article-thumb(style='background-image: url(https://vincity.com/wp-content/uploads/VCT_PV_18_Panohonuocman_05102018-min.jpg);')
									._text
										._date
											i.fa.fa-clock-o
											|  17/10/2018
										a._title(href='https://vincity.com/chiem-nguong-bien-ho-nuoc-man-dau-tien-giua-long-ha-noi/') Chiêm ngưỡng biển hồ nước mặn đầu tiên giữa lòng Hà Nội
										a._btn(href='https://vincity.com/chiem-nguong-bien-ho-nuoc-man-dau-tien-giua-long-ha-noi/') Chi tiết
								.article-thumb(style='background-image: url(https://vincity.com/wp-content/uploads/VCT_PV_25_Xuongca_05102018-min.jpg);')
									._text
										._date
											i.fa.fa-clock-o
											|  16/10/2018
										a._title(href='https://vincity.com/vinhomes-ra-mat-thanh-pho-dai-duong-vincity-ocean-park/') Vinhomes ra mắt “Thành phố Đại dương” VinCity Ocean Park
										a._btn(href='https://vincity.com/vinhomes-ra-mat-thanh-pho-dai-duong-vincity-ocean-park/') Chi tiết
								.article-thumb(style='background-image: url(https://vincity.com/wp-content/uploads/13.VCT_PC_Tienich_Future_fr18-min.jpg);')
									._text
										._date
											i.fa.fa-clock-o
											|  04/10/2018
										a._title(href='https://vincity.com/vingroup-xay-dung-dai-do-thi-giai-quyet-van-de-nha-o-cho-nguoi-thu-nhap-trung-binh-kha/')
											| Vingroup xây dựng đại đô thị giải quyết vấn đề nhà ở cho người thu nhập trung bình khá
										a._btn(href='https://vincity.com/vingroup-xay-dung-dai-do-thi-giai-quyet-van-de-nha-o-cho-nguoi-thu-nhap-trung-binh-kha/') Chi tiết
								.article-thumb(style='background-image: url(https://vincity.com/wp-content/uploads/tien_ich_the_thao_demo-1.jpg);')
									._text
										._date
											i.fa.fa-clock-o
											|  04/10/2018
										a._title(href='https://vincity.com/vincity-lam-bung-sang-thi-truong-bat-dong-san-quy-4-2018/') VinCity làm bừng sáng thị trường bất động sản quý 4-2018
										a._btn(href='https://vincity.com/vincity-lam-bung-sang-thi-truong-bat-dong-san-quy-4-2018/') Chi tiết
							#tin-bao-chi._content-item(data-content='')
								.article-thumb(style='background-image: url(https://vincity.com/wp-content/uploads/443872172652730006824116487570967013883904n-15399457626452082979582.jpg);')
									._text
										._date
											i.fa.fa-clock-o
											|  19/10/2018
										a._title(href='https://vincity.com/he-lo-ve-du-an-khu-cong-vien-vui-choi-safari-1-5-ty-usd-doi-dien-dai-do-thi-vincity-ocean-park/')
											| Hé lộ về dự án khu công viên vui chơi safari 1,5 tỷ USD đối diện đại đô thị VinCity Ocean Park
										a._btn(href='https://vincity.com/he-lo-ve-du-an-khu-cong-vien-vui-choi-safari-1-5-ty-usd-doi-dien-dai-do-thi-vincity-ocean-park/') Chi tiết
								.article-thumb(style='background-image: url(https://vincity.com/wp-content/uploads/VCT_PV_25_Xuongca_05102018-min.jpg);')
									._text
										._date
											i.fa.fa-clock-o
											|  18/10/2018
										a._title(href='https://vincity.com/kham-pha-cong-vien-bbq-doc-dao-trong-long-dai-do-thi-vincity-ocean-park-gia-lam/')
											| Khám phá công viên BBQ độc đáo trong lòng đại đô thị  Vincity Ocean Park – Gia Lâm
										a._btn(href='https://vincity.com/kham-pha-cong-vien-bbq-doc-dao-trong-long-dai-do-thi-vincity-ocean-park-gia-lam/') Chi tiết
								.article-thumb(style='background-image: url(https://vincity.com/wp-content/uploads/VCT_PV_36_P16_fr01_05102018-min.jpg);')
									._text
										._date
											i.fa.fa-clock-o
											|  18/10/2018
										a._title(href='https://vincity.com/vincity-do-thi-xanh-chuan-song-an-lanh/') Vincity: Đô thị xanh, chuẩn sống an lành
										a._btn(href='https://vincity.com/vincity-do-thi-xanh-chuan-song-an-lanh/') Chi tiết
								.article-thumb(style='background-image: url(https://vincity.com/wp-content/uploads/VCT_PV_17_P3R17_05102018-min.jpg);')
									._text
										._date
											i.fa.fa-clock-o
											|  18/10/2018
										a._title(href='https://vincity.com/kham-pha-cong-vien-gym-ngoai-troi-tai-vincity-ocean-park/') Khám phá công viên gym ngoài trời tại VinCity Ocean Park
										a._btn(href='https://vincity.com/kham-pha-cong-vien-gym-ngoai-troi-tai-vincity-ocean-park/') Chi tiết
					._bottom.text-center.show-devide-768
						.dib
							a._btn(href='https://vincity.com/tin-tuc-su-kien/')
								| Xem thêm 
								i.fa.fa-plus
						.fr._pagination
				script(type='text/javascript').
					jQuery(document).ready(function($) {
					$('.js-news-tab').tabs_new();
					$('#term_list').find('a').first().trigger('click');
					});
			.section
				section.home-contact
					._form
						._label
							h2._label-line-1 Bạn quan tâm
							h2._label-line-2 đến căn hộ VinCity?
						quote._quote.hidden-devide-768.hide_frm_quote
							| Vui lòng gửi thông tin bạn quan tâm về các dự án của VinCity, tư vấn viên của chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất. Chân thành cảm ơn.
						form#contact_form_submit.contact_form-content.library-contact-frm(action='', method='post')
							input(type='hidden', name='nonce', value='4a8f8ee0c2')
							input(type='hidden', name='action', value='form_article_submit_ajax')
							.form-group.form-group-contact
								input#focus-name.form-control.frm_input.library-frm_input(type='text', name='fullname', placeholder='Họ tên: Nguyễn Văn A', style='text-transform: capitalize;')
								.name_msg
							.form-group.form-group-contact
								input#focus-phone.form-control.frm_input.library-frm_input(type='tel', name='phone', placeholder='Số điện thoại (bắt buộc)', required='')
								.phone_msg
							.form-group.form-group-contact
								input#focus-email.form-control.frm_input.library-frm_input(type='text', name='email', placeholder='Khongbatbuoc@email.com')
								.email_msg
							.form-group.form-group-contact.form-select
								select#select-subdivision.frm-select(name='location_project')
									option(value='VinCity Ocean Park') VinCity Ocean Park
									option(value='VinCity Grand Park') VinCity Grand Park
									option(value='VinCity Sportia') VinCity Sportia
							.form-group.form-group-contact.form-description
								textarea#contact_content.form-control.frm_input.frm_textarea.library-frm_texterea(name='content', maxlength='200', placeholder='Bạn có yêu cầu gì tới VinCity hay không?')
								p.library-count_characters
									span#max_charactor 120
									|  ký tự còn lại.
							.library-frm_submit
								button._btn.lirbrary-send(type='submit', style='outline: none')
									span#send_text Gửi
									i.fa.fa-paper-plane(aria-hidden='true')
							.message
						// ajax handler
						script.
							jQuery(document).ready(function($) {
							$("#select-subdivision").selectmenu();
							var formButton = $('#contact_form_submit').find('button');
							var check_boolean_name = false;
							$('#focus-name').keyup(function(event) {
							var name = $(this).val();
							var name_msg = $('body').find('.name_msg');
							if (hasNumber(name)) {
							name_msg.text('Họ và tên liên hệ không được nhập số !');
							formButton.css("cursor", "not-allowed");
							formButton.prop('disabled', true);
							check_boolean_name = false;
							} else {
							name_msg.text('');
							formButton.css("cursor", "pointer");
							formButton.prop('disabled', false);
							check_boolean_name = true;
							}
							});
							var check_boolean_email = false;
							$('#focus-email').change(function(event) {
							var email = $(this).val();
							var email_msg = $('body').find('.email_msg');
							if (!validateEmail(email) && email) {
							email_msg.text('Email không hợp lệ !');
							formButton.css("cursor", "not-allowed");
							formButton.prop('disabled', true);
							check_boolean_email = false;
							} else {
							email_msg.text('');
							formButton.css("cursor", "pointer");
							formButton.prop('disabled', false);
							check_boolean_email = true;
							}
							});
							var check_boolean_phone = false;
							$('#focus-phone').change(function(event) {
							var phone_text = $(this).val();
							var count_number = phone_text.length;
							var phone_msg = $('body').find('.phone_msg');
							if (!validatePhonenumber(phone_text) && phone_text || count_number > 11) {
							phone_msg.text('Số điện thoại không hợp lệ !');
							formButton.css("cursor", "not-allowed");
							formButton.prop('disabled', true);
							check_boolean_phone = false;
							} else {
							phone_msg.text('');
							formButton.css("cursor", "pointer");
							formButton.prop('disabled', false);
							check_boolean_phone = true;
							}
							});
							/*ajax handle submit form*/
							$('#contact_form_submit').submit(function(event) {
							event.preventDefault();
							var form = $(this);
							var form_button = document.getElementById('send_text');
							var form_button_text = form_button.innerHTML;
							var form_message = form.find('.message');
							if (check_boolean_phone) {
							$.ajax({
							url: wp_vars.ADMIN_AJAX_URL,
							type: 'post',
							dataType: 'json',
							data: form.serialize(),
							beforeSend: function() {
							form_button.innerHTML = "Gửi...";
							$('body').find('.fa-paper-plane').hide();
							},
							complete: function() {
							form_button.innerHTML = form_button_text;
							$('body').find('.fa-paper-plane').show();
							}
							})
							.done(function(response) {
							if (response.success) {
							form.find('.form-group').hide();
							form.find('.library-frm_submit').hide();
							$('body').find('.hide_frm_quote').hide();
							$current_url = "https://vincity.com";
							window.location.href = "" + '#thank_you';
							}
							if (response.msg) {
							form_message.html(response.msg);
							}
							})
							.fail(function() {
							console.log("Error!");
							});
							} else {
							console.log('Chưa thỏa mãn');
							}
							});
							});
						script(type='text/javascript').
							jQuery(document).ready(function($) {
							// select-subdivision
							$("#select-subdivision").selectmenu();
							/* count down charactor in content */
							$('#contact_content').keyup(function(event) {
							var this_val = $(this).val();
							var content_length = this_val.length;
							var count_down = 200 - content_length;
							document.getElementById('max_charactor').innerHTML = count_down;
							});
							});
					._article
						article(style="background-image: url('https://vincity.com/wp-content/uploads/demo-1-1-692x520.jpg');")
							img(src='https://vincity.com/wp-content/uploads/demo-1-1-692x520.jpg', alt='Vingroup Kết Hợp Cùng Techcombanks')
							._text
								._headline
									h3._line-1 Vingroup Kết Hợp Cùng Techcombank
									h3._line-2 GIẢI PHÁP TÀI CHÍNH LINH HOẠT SỞ HỮU NGAY NHÀ VINCITY
								._bottom
									._description.hidden-devide-768
										| Dễ dàng sở hữu không gian sống lý tưởng khi VinCity ra đời và tự tin vào khả năng tài chính để chủ động chọn lựa căn hộ mơ ước với "Gói vay mua nhà VinCity" do Vingroup và Techcombank phối hợp triển khai.
									.dib
										a._btn(target='_blank', href='https://vincity.techcombank.com.vn/')
											| Tìm hiểu ngay 
											i.fa.fa-plus
			.section.fp-auto-height
				footer
					._layer
						a._logo(href='https://vincity.com/')
							img(src='https://vincity.com/wp-content/themes/vincity/assets/images/logo3-01.png', alt='#')
						#_select_project_intro_list.clearfix
							.project_intro_filter
								#js_tab-project._intro_active
									a.is-active(href='javascript:void();', data-head='')
								._select_project_intro_list
									._item
										a.is-active(href='javascript:void();', data-project='1', data-title='CÔNG TY CỔ PHẦN VINHOMES') CÔNG TY CỔ PHẦN VINHOMES
							.project_intro_list
								ul.is-active(data-project='1')
									li
										._text-icon
											i.fa.fa-map-marker
											._text Số 458 phố Minh Khai, P. Vĩnh Tuy, Q. Hai Bà Trưng, Hà Nội.
									li
										._text-icon
											i.fa.fa-paper-plane
											._text
												a(href='mailto:info@vincity.com') info@vincity.com
									li
										._text-icon
											i.fa.fa-phone
											._text
												a(href='tel:+84 24 39749350') +84 24 39749350
					._layer
						._layer-left.clearfix
						._layer-right.clearfix
							._label Đại đô thị đẳng Cấp Singapore và hơn thế nữa
							ul._menu.two
								li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-947
									a(href='https://vincity.com/gioi-thieu-vincity/') Giới thiệu
								li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-948
									a(href='https://vincity.com/tien-ich-vincity/') Tiện ích
								li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3979
									a(href='https://vincity.com/du-an/') Dự án
								li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-890
									a(href='https://vincity.com/404') Căn hộ mơ ước
								li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-903
									a(href='https://vincity.com/tin-tuc-su-kien/') Tin tức
								li.album_menu.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-962
									a(href='https://vincity.com/thu-vien-anh/') Thư viện
								li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-779
									a(href='https://vincity.com/lien-he/') Liên hệ
						._layer-rigt-bottom
							| Thông tin, hình ảnh, các tiện ích trên website này chỉ mang tính chất minh hoạ tương đối và có thể được điều chỉnh theo quyết định của Chủ đầu tư tại từng thời điểm đảm bảo phù hợp quy hoạch và thực tế thi công dự án. Các thông tin, cam kết chính thức
							| sẽ được quy định cụ thể tại Hợp đồng mua bán. Việc quản lý, vận hành và kinh doanh của khu đô thị sẽ theo quy định của Ban quản lý.
					._layer
						._label.label-notice Đăng ký nhận tin để chạm tới ước mơ
						form#form_subscribe_ajax.form_subscribe(method='POST')
							input(type='hidden', name='action', value='subscriber_submit_ajax')
							input(type='hidden', name='nonce', value='f78648d505')
							.form-group
								input#contact_email.form-controls(type='text', name='subscriber_email', placeholder='Email của bạn', required='')
								button#send_text._submit(type='submit') Đăng ký
							.form-group-msg.msg_frm
						._label Social Media
						ul.socialMedia_list
							li
								a(target='_blank', href='https://www.facebook.com/VinCity.official/')
									i.fa.fa-facebook-square
							// <div class="zalo-share-button" data-href="
							// " data-oaid="579745863508352884" data-layout="2" data-color="blue" data-customize=false></div>
							li
								a(target='_blank', href='https://zalo.me/4139690400021216450')
									img(src='https://vincity.com/wp-content/themes/vincity/assets/images/home/icon-zalo.png', alt='#')
							li
								a(target='_blank', href='https://www.youtube.com/channel/UCvUEmvnvqTCCcE9ufC_Q8Ww')
									i.fa.fa-youtube
						.copyright_top
							a(target='_blank', href='http://vingroup.net/')
								| Đây là website chính thức của VinCity. Nếu bạn muốn kết nối với Tập đoàn Vingroup, hoặc các đơn vị thành viên, hãy bấm vào 
								span đây
								| !
					.copyright
						| Copyright © 2018 VINCITY. All Right Reserved | Một thành viên của Tập đoàn Vingroup 
						a(href='https://vincity.com/dieu-khoan/') Điều khoản
						|  |
						a(href='404') Sitemap
				script(type='text/javascript').
					jQuery(document).ready(function($) {
					var name_project = $('._select_project_intro_list ._item:first a').attr('data-title');
					$('#js_tab-project a').text(name_project);
					// $( "#_mutilsite-home" ).selectmenu();
					// js tab_footer
					$('#js_tab-project').click(function() {
					$('._select_project_intro_list').slideToggle(300);
					});
					$('[data-project]').each(function(index) {
					$(this).click(function() {
					$(this).parent().parent('._select_project_intro_list').slideUp(300);
					var html_tab = $(this).parent('._select_project_intro_list ._item').html();
					$('#js_tab-project').html(html_tab);
					var data_project = $(this).attr('data-project');
					$('._select_project_intro_list ._item a').removeClass('is-active');
					$('.project_intro_list ul').removeClass('is-active');
					$('[data-project="' + data_project + '"]').addClass('is-active');
					});
					});
					// end
					function validateEmail(email) {
					var re = /^(([^<>()\\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
					return re.test(String(email).toLowerCase());
					}
					var check_boolean_email = false;
					$('#contact_email').change(function(event) {
					var contact_email = $(this).val();
					var contact_email_msg = $('body').find('.msg_frm');
					if (!validateEmail(contact_email) && contact_email) {
					contact_email_msg.text('Email không hợp lệ');
					check_boolean_email = false;
					} else {
					contact_email_msg.text('');
					check_boolean_email = true;
					}
					});
					var submit_form = $('#form_subscribe_ajax');
					submit_form.submit(function(event) {
					event.preventDefault();
					var thisForm = $(this);
					var formFields = thisForm.find('.form-group');
					var formMessage = $('body').find('.msg_frm');
					var formButton = $('#send_text');
					var formButtonText = formButton.innerHTML;
					var formButtonHide = thisForm.find('button');
					if (check_boolean_email) {
					$.ajax({
					url: wp_vars.ADMIN_AJAX_URL,
					type: 'POST',
					dataType: 'json',
					data: thisForm.serialize(),
					beforeSend: function() {
					formButton.text('Gửi...');
					},
					complete: function() {
					formButton.text('Đăng ký');
					}
					})
					.done(function(response) {
					if (response.success) {
					$(formFields).hide();
					formButtonHide.hide();
					}
					if (response.msg) {
					formMessage.text(response.msg);
					}
					})
					.fail(function() {
					console.log("ERROR: Failed to save subscribe information.");
					});
					} else {
					console.log('Chưa thỏa mãn các điều kiện');
					return false;
					}
					});
					});
		#fullpage
			.section
			.section
			.section
			.section
			.section
			.section
			.section.fp-auto-height
		.overlay_search
